Repository dask/dask, pull requests merged in 2019-08, with the labels that each got.

#5151 Fix ordering when indexing a dask array with a bool dask array
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
Labels: array

#5071 ENH: add Series.__iter__, closes #4871
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#5231 Error nicely if no file size inferred
  dask/bytes/core.py
  dask/bytes/tests/test_http.py
Labels: io

#5256 Rechunking arrays with empty chunks
  dask/array/rechunk.py
  dask/array/tests/test_rechunk.py
Labels: array

#4822 Add rollaxis and moveaxis
  dask/array/__init__.py
  dask/array/numpy_compat.py
  dask/array/tests/test_routines.py
  docs/source/array-api.rst
Labels: array

#5205 Add rearrange_by_divisions and set_index support for cudf
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/utils.py
Labels: dataframe

#5265 Improve messaging around sorted parquet columns for index
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: io

#5283 Array.random.choice: handle array-like non-arrays
  dask/array/random.py
  dask/array/tests/test_random.py
Labels: array

#5289 Add chunktype to array text repr
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/dataframe/io/io.py
  docs/source/array-chunks.rst
  docs/source/array-creation.rst
Labels: array

#5296 add correlation calculation and add test
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
  docs/source/dataframe-api.rst
Labels: dataframe

#5293 Add shape implementation
  dask/array/__init__.py
  dask/array/numpy_compat.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#5300 Upstream fixups
  dask/dataframe/reshape.py
Labels: dataframe

#5335 Implement compression defaults and use
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#5348 Add missing `filters` argument in calls to `pyarrow.parquet.Dataset`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io
