Repository dask/dask, pull requests merged in 2019-09, with the labels that each got.

#5381 feat: implement explode for series and dataframe
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  docs/source/dataframe-api.rst
Labels: dataframe

#5385 fix issue with index dtype after applying dd.pivot_table (#5379)
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#5402 Use pandas to cast row-group statistics in pyarrow.read_metadata
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#5424 Add introductory screencasts to array/dataframe/futures
  docs/source/array.rst
  docs/source/dataframe.rst
  docs/source/futures.rst
Labels: documentation

#5429 Add more screencasts for delayed, bag, and setup
  docs/source/bag.rst
  docs/source/delayed.rst
  docs/source/setup.rst
Labels: documentation
