Repository dask/dask, pull requests merged in 2019-06, with the labels that each got.

#4886 doc note in shift
  dask/dataframe/core.py
Labels: dataframe

#4884 Implementation of divmod and rdivmod
  dask/array/__init__.py
  dask/array/core.py
  dask/array/tests/test_ufunc.py
  dask/array/ufunc.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  docs/source/array-api.rst
Labels: array, dataframe

#4865 Parallel variance computation for dataframes
  dask/array/reductions.py
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#4925 Promote types in `concatenate` using `_meta`
  dask/array/core.py
Labels: array

#4927 Raise ValueError if concatenate is given no arrays
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#4167 Drop size 0 arrays in concatenate
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#4923 Cache chunk boundaries for integer slicing
  dask/array/core.py
  dask/array/creation.py
  dask/array/routines.py
  dask/array/slicing.py
  dask/array/tests/test_slicing.py
Labels: array

#4924 Add a diagnostics extra (includes bokeh)
  continuous_integration/travis/test_imports.sh
  setup.py
Labels: core

#4914 Defer order/casting einsum parameters to NumPy implementation
  dask/array/einsumfuncs.py
  dask/array/tests/test_routines.py
Labels: array

#4872 Map Dask Series to Dask Series
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#4515 WIP: Update test_to_records to test with `lengths` argument, added co…
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_io.py
Labels: array, dataframe

#4975 Raise ValueError if stack is given no arrays
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#4877 merge_asof and prefix_reduction
  dask/dataframe/__init__.py
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
  docs/source/dataframe-api.rst
Labels: dataframe

#4976 Use meta in stack
  dask/array/core.py
  dask/array/tests/test_sparse.py
Labels: array

#4977 Concatenate meta along axis
  dask/array/core.py
Labels: array

#4979 Adjust concatenate size 0 array case for meta
  dask/array/core.py
  dask/array/tests/test_sparse.py
Labels: array

#4988 Package license file in wheels
  setup.cfg
Labels: core

#4991 Test `da.block` with 0-size arrays
  dask/array/tests/test_array_core.py
Labels: array

#4990 Ensure trivial padding returns the original array
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#4984 Added melt as a method of Dask DataFrame
  dask/dataframe/core.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#5022 Fix undefined `meta` for `str.split(expand=False)`
  dask/dataframe/accessor.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#4978 Drop size 0 arrays in stack
  dask/array/core.py
  dask/array/numpy_compat.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_sparse.py
Labels: array
