Repository dask/dask, pull requests merged in 2019-10, with the labels that each got.

#5480 Replace series_type_like_df with _constructor_sliced
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/utils.py
Labels: dataframe

#5489 Avoid identity check in warn_dtype_mismatch
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#5510 Update da.array to always return a dask array
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#5224 Dataframe now accepts dask arrays on columns assignemnt
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#5523 skip transpose in array.gufunc when possible
  dask/array/core.py
  dask/array/gufunc.py
  dask/array/tests/test_routines.py
Labels: array

#5522 Adding sizeof definition for pyarrow tables and columns
  dask/sizeof.py
  dask/tests/test_sizeof.py
Labels: dataframe, io
