Repository dask/dask, pull requests merged in 2019-05, with the labels that each got.

#4708 ufunc: avoid __array_wrap__ in favor of __array_function__
  .travis.yml
  dask/array/tests/test_array_function.py
  dask/array/tests/test_cupy.py
  dask/array/tests/test_sparse.py
  dask/array/ufunc.py
  dask/dataframe/utils.py
  dask/utils.py
Labels: array

#4800 Update groupby-apply doc with warning
  dask/dataframe/groupby.py
  docs/source/dataframe-groupby.rst
Labels: dataframe

#4796 Add support for rolling operations with larger window that partition size in DataFrames with Time-based index (#4248)
  dask/dataframe/core.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe

#4459 Scalars for extension dtypes.
  dask/dataframe/extensions.py
  dask/dataframe/tests/test_extensions.py
  dask/dataframe/utils.py
  docs/source/dataframe-extend.rst
Labels: dataframe

#4831 Make map_blocks work with drop_axis + block_info
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#4810 Add read_function keyword to read_json
  dask/dataframe/io/json.py
  dask/dataframe/io/tests/test_json.py
Labels: dataframe

#2528 Doc fixups
  dask/bag/core.py
  dask/optimization.py
  docs/source/array-overlap.rst
Labels: documentation

#4834 Allow da.eye to support arbitrary chunking sizes with chunks='auto'
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#3821 Put do/don't into boxes for delayed best practice docs
  docs/source/delayed-best-practices.rst
Labels: documentation

#4829 Added accessor registration for Series, DataFrame, and Index
  dask/dataframe/_accessor.py
  dask/dataframe/core.py
  dask/dataframe/extensions.py
  dask/dataframe/tests/test_accessors.py
  docs/source/dataframe-extend.rst
Labels: dataframe
