Repository dask/dask, pull requests merged in 2020-06, with the labels that each got.

#6129 full & full_like: error on non-scalar fill_value
  dask/array/creation.py
  dask/array/tests/test_creation.py
  dask/array/tests/test_wrap.py
  dask/array/wrap.py
Labels: array

#6263 Generalize `from_dask_array`
  dask/array/core.py
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/shuffle.py
Labels: dataframe

#6262 Add high-level CSV Subgraph
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#6282 [REVIEW] Preserve index when writing partitioned parquet datasets with pyarrow
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: io
