Repository dask/dask, pull requests merged in 2021-07, with the labels that each got.

#7858 Temporarily xfail `test_daily_stock`
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_demo.py
Labels: dataframe, io

#7854 `da.eye` fix for `chunks=-1`
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#7875 Updates due to https://github.com/dask/fastparquet/pull/623
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7856 Should check module name only, not the entire directory filepath
  dask/array/routines.py
Labels: array

#7544 Avoid ParquetDataset API when appending in ArrowDatasetEngine
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#7880 fastparquet now supports new time types, including ns precision
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7842 Handle infinite loops in merge_asof
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#7820 Use packaging for version comparisons.
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8-dev.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  continuous_integration/environment-mindeps-array-dataframe.yaml
  continuous_integration/environment-mindeps-distributed.yaml
  continuous_integration/environment-mindeps-non-optional.yaml
  continuous_integration/scripts/test_imports.sh
  dask/array/numpy_compat.py
  dask/array/tests/test_cupy.py
  dask/array/tests/test_sparse.py
  dask/base.py
  dask/bytes/tests/test_http.py
  dask/bytes/tests/test_local.py
  dask/bytes/tests/test_s3.py
  dask/compatibility.py
  dask/dataframe/_compat.py
  dask/dataframe/io/orc.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_orc.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_rolling.py
  dask/diagnostics/profile_visualize.py
  dask/diagnostics/tests/test_profiler.py
  dask/sizeof.py
  dask/tests/test_multiprocessing.py
  setup.py
Labels: array, dataframe, io

#7895 Un-`xfail` `test_daily_stock`
  dask/dataframe/io/tests/test_demo.py
Labels: dataframe, io

#7557 Add `aggregate_files` argument to enable multi-file partitions in read_parquet
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7857 Raise NotImplementedError when using pd.Grouper in dask.dataframe.groupby
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#7892 Generalize unique aggregate
  dask/dataframe/groupby.py
Labels: dataframe

#7902 Fix bug in pyarrow-dataset partition ordering
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7827 Add support for histogram2d in dask.array
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
  docs/source/array-api.rst
Labels: array

#7876 Add pytest marker for GPU tests
  dask/array/tests/test_cupy.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
  setup.cfg
Labels: array, dataframe

#7831 Add `numeric_only` kwarg to dataframe reductions
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#7913 Clean up places where we inadvertently iterate over arrays
  dask/array/routines.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_routines.py
Labels: array

#7905 Implement lazy `Array.__iter__`
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/dataframe/_compat.py
Labels: array, dataframe

#7873 Remove skips from doctests (2 of 6)
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/sql.py
  dask/dataframe/multi.py
  dask/utils.py
Labels: dataframe, dispatch, io

#7903 Make array assert_eq check dtype.
  dask/array/tests/test_array_utils.py
  dask/array/tests/test_optimization.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/utils.py
  dask/array/wrap.py
Labels: array

#7872 Remove skips from doctests (3 of 6)
  dask/array/chunk.py
  dask/array/chunk_types.py
  dask/array/core.py
  dask/array/linalg.py
  dask/array/slicing.py
  dask/array/tiledb_io.py
Labels: array

#7927 NEP-35 support for slice_with_int_dask_array
  dask/array/chunk.py
  dask/array/tests/test_cupy.py
Labels: array

#7940 Add meta support to `__setitem__`
  dask/array/core.py
  dask/array/slicing.py
  dask/array/tests/test_cupy.py
Labels: array

#7942 Fix read-csv name - when path is different, use different name for task
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#7946 Adds missing prepend/append functionality to da.diff
  dask/array/routines.py
  dask/array/tests/test_cupy.py
  dask/array/tests/test_routines.py
Labels: array

#7958 Avoid use of Delayed in to_parquet
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#7886 Add `dask.array` SVG to the HTML Repr
  dask/array/core.py
  dask/highlevelgraph.py
Labels: array

#7939 Require NumPy 1.18+ & Pandas 1.0+
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-mindeps-array-dataframe.yaml
  dask/array/core.py
  dask/array/creation.py
  dask/array/linalg.py
  dask/array/numpy_compat.py
  dask/array/percentile.py
  dask/array/reductions.py
  dask/array/routines.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_creation.py
  dask/array/tests/test_cupy.py
  dask/array/tests/test_gufunc.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_sparse.py
  dask/array/tests/test_wrap.py
  dask/array/ufunc.py
  dask/array/utils.py
  dask/array/wrap.py
  dask/dataframe/_compat.py
  dask/dataframe/_dtypes.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/orc.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_orc.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/multi.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_accessors.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_boolean.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_rolling.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
  dask/sizeof.py
  dask/tests/test_base.py
  dask/tests/test_delayed.py
  docs/source/install.rst
  setup.py
Labels: array, dataframe, dispatch, io
