Repository dask/dask, pull requests merged in 2021-08, with the labels that each got.

#7949 Deprecate `daily_stock` utility
  dask/dataframe/io/demo.py
  dask/dataframe/io/tests/test_demo.py
Labels: dataframe, io

#7935 Add tail and head to SeriesGroupby (#7934)
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#7982 Skip CuPy tests requiring NEP-35 when NumPy < 1.20 is available
  dask/array/tests/test_cupy.py
  dask/dataframe/tests/test_shuffle.py
Labels: array, dataframe

#7967 Allow pyarrow>=5 in to_parquet and read_parquet
  continuous_integration/environment-3.8-dev.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7988 Add back pyarrow-legacy test coverage for pyarrow>=5
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7993 TST: use pytest.warns instead of raises for checking parquet engine deprecation
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7952 Removed redundant check_dtypes
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/utils.py
Labels: dataframe

#7994 Mark gpuCI CuPy test as flaky
  dask/array/tests/test_cupy.py
Labels: array

#7894 Fix map_overlap trimming behavior when drop_axis is not None
  dask/array/overlap.py
  dask/array/tests/test_overlap.py
Labels: array

#7916 Don't enforce columns if `enforce=False`
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#7756 Refactor and Expand Dask-Dataframe ORC API
  dask/dataframe/__init__.py
  dask/dataframe/core.py
  dask/dataframe/io/__init__.py
  dask/dataframe/io/orc.py
  dask/dataframe/io/orc/__init__.py
  dask/dataframe/io/orc/arrow.py
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/orc/utils.py
  dask/dataframe/io/tests/test_orc.py
Labels: dataframe, io

#8013 Reorganize CuPy tests into multiple files
  dask/array/tests/test_cupy.py
  dask/array/tests/test_cupy_core.py
  dask/array/tests/test_cupy_creation.py
  dask/array/tests/test_cupy_gufunc.py
  dask/array/tests/test_cupy_linalg.py
  dask/array/tests/test_cupy_overlap.py
  dask/array/tests/test_cupy_percentile.py
  dask/array/tests/test_cupy_random.py
  dask/array/tests/test_cupy_routines.py
  dask/array/tests/test_cupy_slicing.py
  dask/array/tests/test_cupy_sparse.py
Labels: array

#7932 Added dict format in `to_bag accessories` of dataframe
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#7855 BUG: Resolve skipfooter problem referenced in issue #7697
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#8024 Update `to_orc` collection name
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/tests/test_orc.py
Labels: dataframe, io

#8033 Fix multifile read for hdf
  dask/dataframe/io/hdf.py
  dask/dataframe/io/tests/test_hdf.py
Labels: dataframe, io

#7969 Don't convert to low-level task graph in `compute_as_if_collection`
  dask/base.py
  dask/dataframe/shuffle.py
  dask/tests/test_base.py
Labels: dataframe

#8035 Fix `to_orc` delayed compute behavior
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/tests/test_orc.py
Labels: dataframe, io

#8047 Fix `blocksize` description formatting in `read_pandas`
  dask/dataframe/io/csv.py
Labels: dataframe, io

#8014 Use `dict` to store data for {nan,}arg{min,max} in certain cases
  dask/array/core.py
  dask/array/reductions.py
  dask/array/tests/test_cupy_reductions.py
Labels: array

#8039 Specify module to import rechunk from
  dask/array/core.py
Labels: array

#8038 Use a documented attribute to find groupby columns
  dask/dataframe/groupby.py
Labels: dataframe

#8029 Add percentile dispatch
  dask/array/backends.py
  dask/array/percentile.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/dispatch.py
  dask/dataframe/partitionquantiles.py
Labels: dataframe, array, dispatch

#8052 Remove `wrap_func_like_safe`, not required with NumPy >= 1.17
  dask/array/wrap.py
Labels: array

#8019 Add dask.widgets and migrate HTML reprs to jinja2
  MANIFEST.in
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8-dev.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  continuous_integration/environment-mindeps-distributed.yaml
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_sparse.py
  dask/array/tests/test_svg.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_format.py
  dask/highlevelgraph.py
  dask/tests/test_highgraph.py
  dask/tests/test_utils.py
  dask/utils.py
  dask/widgets/__init__.py
  dask/widgets/templates/array.html.j2
  dask/widgets/templates/dataframe.html.j2
  dask/widgets/templates/highlevelgraph.html.j2
  dask/widgets/templates/highlevelgraph_layer.html.j2
  dask/widgets/tests/templates/bytes.html.j2
  dask/widgets/tests/templates/custom_filter.html.j2
  dask/widgets/tests/templates/example.html.j2
  dask/widgets/tests/test_widgets.py
  dask/widgets/widgets.py
  setup.py
Labels: dataframe, array

#8055 Move pandas import and Percentile dispatch refactor
  dask/array/percentile.py
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, array, dispatch

#8049 Ignore whitespace when gufunc `signature`
  dask/array/gufunc.py
  dask/array/tests/test_gufunc.py
Labels: array

#8053 Use __class__ when creating DataFrames
  dask/dataframe/categorical.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8061 Include invalid DataFrame key in `assert_eq` check
  dask/dataframe/utils.py
Labels: dataframe

#8000 Include `tz` in meta from `to_datetime`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8034 Add ignore_metadata_file option to read_parquet (pyarrow-dataset and fastparquet support only)
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8057 Ensure filepath exists in `to_parquet`
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#8102 Un-xfail sparse tests for 0.13.0 release
  dask/array/tests/test_sparse.py
Labels: array

#8100 Update formatting in `DataFrame.query` docstring
  dask/dataframe/core.py
Labels: dataframe

#8068 Adds `deep` param to Dataframe copy method and restrict it to `False`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe
