Repository dask/dask, pull requests merged in 2021-06, with the labels that each got.

#7749 Warn if using pandas datetimelike string in `dataframe.__getitem__`
  dask/dataframe/core.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#7744 Added raise to apply_gufunc
  dask/array/gufunc.py
  dask/array/tests/test_gufunc.py
Labels: array

#7715 [Review]Repartition before shuffle if the requested partitions are less than input partitions
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#7743 Rename make_meta_util to make_meta
  dask/bag/core.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/dispatch.py
  dask/dataframe/groupby.py
  dask/dataframe/io/io.py
  dask/dataframe/io/json.py
  dask/dataframe/multi.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_extensions.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_reshape.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
  docs/source/dataframe-extend.rst
Labels: dataframe, io

#7704 Rewrite `da.fromfunction` w/ `da.blockwise`
  dask/array/creation.py
Labels: array

#7669 Array: correct number of outputs in `apply_gufunc`
  dask/array/gufunc.py
  dask/array/tests/test_array_utils.py
  dask/array/tests/test_gufunc.py
  dask/array/utils.py
Labels: array

#7738 Do not return delayed object from to_zarr
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#7741 Renamed inner loop variables to avoid duplication
  dask/array/gufunc.py
  dask/base.py
  dask/blockwise.py
Labels: array

#7761 Ensure correct column order in csv project_columns
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#7627 ENH: Add meta support for DatetimeTZDtype
  dask/dataframe/_dtypes.py
  dask/dataframe/backends.py
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe

#7769 Evaluate graph lazily if meta is provided in from_delayed
  dask/dataframe/io/io.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, io

#7773 Fix for paths ending with "/" in parquet overwrite
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8-dev.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#7594 Array: non-dask-arrays and broadcasting in `ravel_multi_index`
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#7625 Move read_hdf to Blockwise
  dask/dataframe/io/csv.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/hdf.py
  dask/dataframe/io/orc.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_hdf.py
  dask/tests/test_distributed.py
Labels: dataframe, io

#7745 Add add_(prefix|suffix) to dataframe and series (June 2021)
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7782 Only rechunk for median if needed
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#7784 Always include kwarg-name in `drop`
  dask/dataframe/tests/test_rolling.py
Labels: dataframe

#7595 A HighLevelGraph abstract layer for map_overlap
  dask/array/core.py
  dask/array/overlap.py
  dask/array/tests/test_overlap.py
  dask/layers.py
  dask/tests/test_layers.py
Labels: array

#7785 Don't include or expect `freq` in divisions
  dask/dataframe/io/tests/test_demo.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, io

#7760 Initial da.select() implementation and test (#6067)
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_routines.py
Labels: array

#7667 Fix maximum recursion depth exception in array.linspace (#7644)
  dask/array/chunk.py
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#7578 [FEA][WIP] allow `DataFrame.join()` to take a list of DataFrames to merge with
  dask/dataframe/core.py
  dask/dataframe/multi.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#7802 Simplify skips in parquet tests.
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7796 Use more context managers from the standard library
  dask/array/chunk.py
  dask/array/core.py
  dask/array/random.py
  dask/array/reductions.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_routines.py
  dask/array/utils.py
  dask/diagnostics/progress.py
  dask/diagnostics/tests/test_profiler.py
  dask/highlevelgraph.py
  dask/utils.py
Labels: array

#7795 Fix upstream freq tests
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7806 Use dispatch `concat` for `merge_asof` - fixes upstream pandas tests
  dask/dataframe/multi.py
Labels: dataframe

#6546 Update default blockwise token to avoid DataFrame column name clash
  dask/array/tests/test_atop.py
  dask/blockwise.py
  dask/dataframe/tests/test_dataframe.py
Labels: array, dataframe

#7763 Implementation of HTML repr for HighLevelGraph layers
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/highlevelgraph.py
  dask/tests/test_highgraph.py
Labels: array, dataframe

#7801 Remove compatibility entries for old distributed.
  continuous_integration/scripts/test_imports.sh
  dask/array/routines.py
  dask/compatibility.py
Labels: array

#7812 Small tweaks to the HTML repr for Layer & HighLevelGraph
  dask/array/core.py
  dask/dataframe/core.py
  dask/highlevelgraph.py
Labels: array, dataframe

#7808 Enforce dtype conservation in ufuncs that explicitly use dtype=
  dask/array/core.py
  dask/array/tests/test_ufunc.py
Labels: array

#7810 Add initial deprecation utilities
  dask/array/random.py
  dask/bytes/__init__.py
  dask/highlevelgraph.py
  dask/tests/test_highgraph.py
  dask/tests/test_utils.py
  dask/utils.py
Labels: array

#7813 Make check_meta understand pandas dtypes better
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#7634 Improvements to histogramdd (for handling inputs that are sequences-of-arrays).
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#7822 Remove warning filter in `test_dataframe_picklable`
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7825 Add "sample_rows" to read_csv-like
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#7834 Don't sample dict result of a shuffle group when calculating its size
  dask/dataframe/backends.py
  dask/sizeof.py
Labels: dataframe, dispatch

#6863 Allow mixing dask and numpy arrays in @guvectorize
  dask/array/core.py
  dask/array/tests/test_gufunc.py
Labels: array
