Repository dask/dask, pull requests merged in 2021-04, with the labels that each got.

#7387 Adding support for multidimensional histograms with dask.array.histogramdd
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
  docs/source/array-api.rst
Labels: array

#7517 Added product (alias of prod)
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#7518 Clean some of the warnings described in #5610
  dask/array/chunk_types.py
Labels: array

#7523 Fix reshape bug. Add relevant test. Fixes #7171.
  dask/array/reshape.py
  dask/array/tests/test_reshape.py
Labels: array

#7528 DOC: use .to_parquet on dask.dataframe in doc string
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#7520 histogram, histogramdd improvements (docs; return consistencies)
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#7393 Redesigned __setitem__ implementation
  dask/array/core.py
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
  docs/source/array-assignment.rst
  docs/source/array.rst
Labels: array

#7538 Fix upstream
  dask/dataframe/core.py
Labels: dataframe

#7527 Fix dict-column appending for pyarrow parquet engines
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7556 make ValueError in len(index_names) > 1 explicit it's using fastparquet
  dask/dataframe/io/parquet/fastparquet.py
Labels: dataframe, io

#7561 Simplify transpose very slightly
  dask/array/routines.py
Labels: array

#7564 DOC: add defaults in parameters in to_parquet
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#7504 Map e.g. `.repartition(freq="M")` to `.repartition(freq="MS")`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7577 Avoid pandas `level=` keyword deprecation
  dask/dataframe/groupby.py
Labels: dataframe

#7508 Array: Fix NEP18 dispatching in finalize
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#7524 map_partitions: use tokenized info as name of the SubgraphCallable
  dask/dataframe/core.py
  dask/tests/test_distributed.py
Labels: dataframe

#7541 Support read_parquet for data with overlapping partition columns and file columns
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7567 DOC: defaults in read_parquet parameters
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#7608 Remove skip on test freq
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7612 add pyarrow sphinx intersphinx_mapping
  dask/dataframe/io/parquet/core.py
  docs/source/conf.py
Labels: dataframe, io

#7309 Adding chunk & type information to dask high level graphs
  dask/array/core.py
  dask/dataframe/core.py
  dask/highlevelgraph.py
Labels: array, dataframe

#7415 Use Blockwise for DataFrame IO (parquet, csv, and orc)
  dask/blockwise.py
  dask/dataframe/io/csv.py
  dask/dataframe/io/orc.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_orc.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/optimize.py
  dask/layers.py
  dask/tests/test_distributed.py
  dask/tests/test_layers.py
Labels: dataframe, io

#7617 Fix bugs in broadcast-join packing and culling
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/layers.py
  dask/tests/test_layers.py
Labels: dataframe
