Repository dask/dask, pull requests merged in 2021-11, with the labels that each got.

#8176 Groupby Rolling
  dask/dataframe/groupby.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
  docs/source/dataframe-api.rst
Labels: dataframe

#8336 Require newer `s3fs` in CI
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8-dev.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/rolling.py
Labels: dataframe

#8254 Better handling for arrays/series of keys in `dask.dataframe.loc`
  dask/dataframe/indexing.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#6628 Add `align_dataframes` to `map_partitions` to allow passing a dataframe as an arg directly
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8351 Fix required_extension behavior in read_parquet
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#8367 Fix zarr for upstream
  dask/array/core.py
  dask/tests/test_distributed.py
Labels: array

#8250 Parameterize shuffle implementation in tests
  conftest.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8368 Fix .loc of dataframe with nullable boolean dtype
  dask/dataframe/indexing.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#8354 Use more explicit keyword arguments
  dask/array/core.py
  dask/array/creation.py
  dask/array/einsumfuncs.py
  dask/array/gufunc.py
  dask/array/ma.py
  dask/array/routines.py
  dask/array/tiledb_io.py
  dask/array/wrap.py
  dask/base.py
  dask/dataframe/core.py
  dask/dataframe/io/json.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/multi.py
  dask/delayed.py
Labels: dataframe, array, io

#8341 Use blockwise in `single_partition_join`
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
  dask/tests/test_utils_test.py
  dask/utils_test.py
Labels: dataframe

#8384 Fix typo in `set_index` `partition_size` parameter description
  dask/dataframe/core.py
Labels: dataframe

#8379 Try to make divisions behavior clearer
  dask/dataframe/core.py
Labels: dataframe

#8389 Ensure single-partition join `divisions` is tuple
  dask/dataframe/multi.py
  dask/dataframe/tests/test_merge_column_and_index.py
Labels: dataframe

#8396 Actually ignore index when asked in `assert_eq`
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#8375 Fix empty chunk causes exception in nanmin/nanmax
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#8412 Fix cupy doctest error
  dask/array/core.py
Labels: array

#8253 Support `where` argument in ufuncs
  dask/array/core.py
  dask/array/tests/test_ufunc.py
Labels: array

#8413 Fix bug in read_csv for integer header argument
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#8397 Deprecation warning for default value of boundary kwarg in map_overlap
  dask/array/core.py
  dask/array/overlap.py
  dask/array/tests/test_overlap.py
  dask/array/tests/test_sparse.py
  dask/tests/test_layers.py
Labels: array

#8416 Add warning to read_parquet when statistics and partitions are misaligned
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io, parquet
