Repository dask/dask, pull requests merged in 2021-12, with the labels that each got.

#8441 Use ``by`` instead of ``index`` internally on the Groupby class
  dask/dataframe/groupby.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8400 Fix nullable-dtype error when writing partitioned parquet data
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#8410 Fix for index error with reading empty parquet file
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8436 Better error message for length of array with unknown chunk sizes
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8462 Fix `map_blocks` not using own arguments in `name` generation
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8310 Blockwise `map_partitions` with `partition_info`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8464 Deprecate `token` keyword argument to `map_blocks`
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8304 Add series is_monotonic*
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8425 Clarify block_info documentation
  dask/array/core.py
Labels: array

#8433 Make `read_csv` with `comment` kwarg work
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#8477 Remove daily stock demo utility
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/io/demo.py
  dask/dataframe/io/tests/test_demo.py
Labels: dataframe, io

#8470 changes for fastparquet superthrift
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/utils.py
  dask/utils.py
Labels: dataframe, io

#8124 Limit max chunk size when reshaping dask arrays
  dask/array/reshape.py
  dask/array/tests/test_array_core.py
Labels: array

#8423 improved the efficiency of `matmul()` by completely removing concatenation
  dask/array/routines.py
  dask/array/tests/test_dispatch.py
Labels: array

#8484 Fix single item `nanmax` and `nanmin` reductions
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#8490 Remove `pyarrow`-only reference from `split_row_groups` in `read_parquet` docstring
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#8472 save zarr arrays with dask-on-ray scheduler
  dask/array/core.py
Labels: array

#8452 Track HLG layer name in Delayed
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/bag/core.py
  dask/bag/tests/test_bag.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/delayed.py
  dask/tests/test_delayed.py
Labels: dataframe, array

#8502 Add `da.ndim` to match `np.ndim`
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#8393 Ensure that divisions are alway tuples
  dask/dataframe/core.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/utils.py
Labels: dataframe

#8479 Add dataframe nunique
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8507 update warnings for DataFrameGroupBy.apply and transform
  dask/dataframe/groupby.py
Labels: dataframe
