Repository dask/dask, pull requests merged in 2021-05, with the labels that each got.

#7563 Support for cupyx.scipy.linalg
  dask/array/linalg.py
  dask/array/routines.py
  dask/array/tests/test_cupy.py
  dask/array/tests/test_linalg.py
  dask/array/utils.py
Labels: array

#7601 Fix dask.dataframe in sandboxed environments
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#7623 Implement str.concat when others=None (#5555)
  dask/dataframe/accessor.py
  dask/dataframe/tests/test_accessors.py
Labels: dataframe

#7487 Array: remove extraneous code from RandomState
  dask/array/random.py
Labels: array

#7620 Change the active-fusion default to False for Dask-Dataframe
  dask/array/optimization.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/optimize.py
  dask/dataframe/tests/test_dataframe.py
  dask/highlevelgraph.py
  dask/optimization.py
  dask/tests/test_distributed.py
Labels: array, dataframe

#7645 Fix bug in Dataframe column projection
  dask/dataframe/io/csv.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_parquet.py
  dask/layers.py
Labels: dataframe, io

#7653 Remove deprecated kind kwarg to comply with pandas 1.3.0
  dask/dataframe/indexing.py
Labels: dataframe

#7659 Fix spelling in Series `getitem` error message
  dask/dataframe/core.py
Labels: dataframe

#7671 Update tests to support CuPy 9
  dask/array/tests/test_cupy.py
Labels: array

#7678 fix the docstring of read_orc
  dask/dataframe/io/orc.py
Labels: dataframe, io

#7676 Bump pre-commit hook versions
  .pre-commit-config.yaml
  dask/array/chunk_types.py
  dask/array/core.py
  dask/array/fft.py
  dask/array/overlap.py
  dask/array/random.py
  dask/array/reductions.py
  dask/array/routines.py
  dask/array/svg.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_dispatch.py
  dask/array/tests/test_rechunk.py
  dask/array/ufunc.py
  dask/array/utils.py
  dask/bag/core.py
  dask/blockwise.py
  dask/core.py
  dask/dataframe/accessor.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/indexing.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/hdf.py
  dask/dataframe/io/io.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/multi.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_dataframe.py
  dask/delayed.py
  dask/highlevelgraph.py
  dask/local.py
  dask/multiprocessing.py
  dask/order.py
  dask/tests/test_multiprocessing.py
  dask/tests/test_order.py
  dask/tests/test_utils.py
  dask/utils.py
  docs/source/scripts/scheduling.py
Labels: array, dataframe, io

#7675 Accept axis tuple for flip consistent with numpy
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#7684 Cleanup array API reference links
  dask/array/core.py
  docs/source/conf.py
Labels: array

#7691 [docs] fix typo in DataFrame.set_index()
  dask/dataframe/core.py
Labels: dataframe

#7562 stack nd array w/unknown chunks
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#7605 Allow a column to be named `divisions`, `_meta`, `_name`, `dask`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#7503 dispatch.registers to their own file
  dask/dataframe/__init__.py
  dask/dataframe/backends.py
  dask/dataframe/categorical.py
  dask/dataframe/core.py
  dask/dataframe/dispatch.py
  dask/dataframe/methods.py
  dask/dataframe/multi.py
  dask/dataframe/reshape.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_hashing.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#7505 Consolidate array Dispatch objects
  dask/array/backends.py
  dask/array/core.py
  dask/array/dispatch.py
  dask/array/ma.py
  dask/array/reductions.py
Labels: array

#7699 Add dispatch for `union_categoricals`
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/methods.py
  dask/dataframe/multi.py
Labels: dataframe

#7700 Remove unused alphabet variables
  dask/array/routines.py
Labels: array

#7572 Fix read_sql_table returning wrong result for single column loads
  dask/dataframe/io/sql.py
  dask/dataframe/io/tests/test_sql.py
Labels: dataframe, io

#7706 Fix format string in error message.
  dask/array/reshape.py
Labels: array

#7696 Implement da.searchsorted
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
  docs/source/array-api.rst
Labels: array

#7698 Fix optimize_dataframe_getitem bug
  dask/dataframe/io/tests/test_demo.py
  dask/dataframe/optimize.py
Labels: dataframe, io

#7712 Pandas compat
  dask/array/numpy_compat.py
  dask/base.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
Labels: array, dataframe
