Repository dask/dask, pull requests merged in 2021-09, with the labels that each got.

#7303 Fewer open files
  dask/bytes/tests/test_http.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8037 Deprecate `boundary_slice` kwarg: kind following pandas
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/methods.py
Labels: dataframe

#8122 Fix edge case with like-arrays in _wrapped_qr
  dask/array/linalg.py
Labels: array

#7914 Deprecate `dask.dataframe.Series.__contains__`
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, io

#8106 Add dtype and order to asarray and asanyarray definitions
  dask/array/core.py
  dask/array/tests/test_array_function.py
Labels: array

#7661 fix index_col duplication if index_col is type str
  dask/dataframe/io/sql.py
Labels: dataframe, io

#8128 Handle asarray/asanyarray cases where like is a dask.Array
  dask/array/core.py
  dask/array/tests/test_cupy_core.py
Labels: array

#8064 add error if drop_index is negative
  dask/array/core.py
Labels: array

#8015 Replace `operator.getitem`
  dask/array/chunk.py
  dask/array/core.py
  dask/array/optimization.py
  dask/array/rechunk.py
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_chunk.py
  dask/array/tests/test_slicing.py
Labels: array

#8130 Implement `ascending` arg for `sort_values`
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8142 Skip groupby nunique test for pandas >= 1.3.3
  dask/dataframe/_compat.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8125 Specifically ignore warnings on mean for empty slices
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#7953 Use `loc` if needed for series `__get_item__`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8144 Remove references to `pd.Int64Index` in anticipation of deprecation
  dask/dataframe/backends.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe, dispatch

#7719 Add `datetime_is_numeric` to dataframe.describe
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8155 Remove warning filters in tests that are no longer needed
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_slicing.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_hyperloglog.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_ufunc.py
Labels: dataframe, array, io

#8151 Fix groupby for future pandas
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8165 Include divisions when doing `Index.to_series`
  dask/dataframe/core.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#8166 Raise error when setitem on unknown chunks
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8150 Fix rolling for compatibility with pandas > 1.3.0
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe

#8136 Deprecate 'inplace' argument for dask series renaming
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8174 Preserve HighLevelGraphs in `DataFrame.from_delayed`
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#8167 Add handling for null values in `sort_values`
  dask/dataframe/core.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8186 Fix to_parquet bug in call to pyarrow.parquet.read_metadata
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#8193 Use `s.isna` instead of `pd.isna(s)` in `set_partitions_pre` (fix cudf CI)
  dask/dataframe/shuffle.py
Labels: dataframe

#8198 Add `test_set_index` to tests ran on gpuCI
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8197 Use `pytest.param` to properly label param-specific GPU tests
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe
