Repository dask/dask, pull requests merged in 2021-10, with the labels that each got.

#8195 Add support for scalar item assignment by Series
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8205 Fix upstream tests
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8192 Support negative drop_axis in map_blocks and map_overlap
  dask/array/core.py
  dask/array/overlap.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_overlap.py
Labels: array

#8072 Refactor read_metadata in pyarrow parquet engines
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8162 Make sure that the divisions of the single partition merge is left
  dask/dataframe/multi.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#8199 Ensure existing futures get passed as deps when serializing HighLevelGraph layers
  dask/dataframe/io/parquet/core.py
  dask/highlevelgraph.py
  dask/tests/test_distributed.py
Labels: dataframe, io

#8213 Use `inclusive` rather than `closed` with pandas>=1.4.0 and `pd.date_range`
  dask/dataframe/_compat.py
  dask/dataframe/tseries/resample.py
Labels: dataframe

#8129 Fix `df.quantile` on all missing data
  dask/array/percentile.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, array
