Repository dask/dask, pull requests merged in 2022-09, with the labels that each got.

#9436 Fix `get_group` with categoricals
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9430 Rename `by` columns internally for cumulative operations on the same `by` columns
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9462 Replaced mutable data structures for default arguments (`B006`)
  dask/array/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/hdf.py
  dask/dataframe/rolling.py
  dask/dataframe/tseries/resample.py
  dask/datasets.py
Labels: dataframe, array, io

#9460 Replaced `getattr` calls for constant attributes (`B009`)
  dask/array/tests/test_cupy_creation.py
  dask/array/tests/test_routines.py
  dask/base.py
  dask/dataframe/io/hdf.py
Labels: dataframe, array, io

#9458 Removed unused loop control variables (`B007`)
  dask/_version.py
  dask/array/core.py
  dask/array/einsumfuncs.py
  dask/array/gufunc.py
  dask/array/linalg.py
  dask/array/reductions.py
  dask/array/routines.py
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_cupy_sparse.py
  dask/array/tests/test_optimization.py
  dask/bag/avro.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_optimize_dataframe.py
  dask/dataframe/utils.py
  dask/optimization.py
  dask/sizeof.py
  dask/tests/test_base.py
  dask/tests/test_threaded.py
Labels: dataframe, array, io, dispatch

#9459 Added assert for comparisons (`B015`)
  dask/bag/tests/test_bag.py
  dask/dataframe/multi.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#9461 Bind loop variables in function definitions (`B023`)
  dask/array/tests/test_array_core.py
  dask/dataframe/optimize.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/tests/test_threaded.py
Labels: dataframe, array

#9457 Added `flake8-bugbear` to `pre-commit` hooks
  .pre-commit-config.yaml
  dask/array/creation.py
  dask/array/tests/test_dispatch.py
  setup.cfg
Labels: array

#9479 Remove `dd.from_bcolz`
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/__init__.py
  dask/dataframe/io/__init__.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
  docs/source/dataframe-api.rst
  docs/source/dataframe-create.rst
Labels: dataframe, io, documentation

#9481 Fix metadata comparison `stack_partitions`
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#9484 Fix `it's` --> `its` typo
  docs/source/faq.rst
Labels: documentation

#9453 Shuffle groupby default
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9474 Fixing enforce_metadata doc, not checking for dtypes
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/rolling.py
Labels: dataframe, io

#9485 Fix assigning Series to column when `ddf.columns.min()` raises
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9493 aca: Provide default for split_out
  dask/dataframe/core.py
Labels: dataframe

#9495 Avoid passing groupby key list of length one
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#9491 Allow `split_out` to be `None`, which then defaults to `1` in `groupby().aggregate()`
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9423 Fix overlap so that ``set_index`` doesn't drop rows
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#9472 Avoid `set_index(..., inplace=True)` where not necessary
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/tests/test_orc.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9496 Filter out `numeric_only` warnings from `pandas`
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9500 Workaround for parquet writing failure using some datetime series but not others
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, upstream

#9486 Groupby sort upstream compatibility
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
  dask/tests/test_distributed.py
Labels: dataframe, upstream, bug

#9511 Clarify custom-graph multiprocessing example
  docs/source/custom-graphs.rst
Labels: documentation

#9513 Add docs on running Dask in a standalone Python script
  docs/source/custom-graphs.rst
  docs/source/scheduling.rst
Labels: documentation

#9507 Remove factorization logic from array auto chunking
  continuous_integration/environment-mindeps-distributed.yaml
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_random.py
  dask/array/tests/test_rechunk.py
  dask/tests/test_utils.py
  dask/utils.py
Labels: array
