Repository dask/dask, pull requests merged in 2022-11, with the labels that each got.

#9585 Harden `test_repartition_npartitions`
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, tests

#9614 Fix read_csv behavior for `header=0` and `names`
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io, bug

#9630 Add API doc links to array/bag/dataframe sections
  docs/source/array.rst
  docs/source/bag.rst
  docs/source/dataframe.rst
Labels: documentation

#9628 Generalize `from_dict` implementation to allow usage from other backends
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#9636 Fix link to partitions docs in `read_parquet` docstring
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#9634 Generalize array checking and remove `pd.Index` call in `_get_partitions`
  dask/dataframe/indexing.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#9570 Avoid `pandas` constructors in `dask.dataframe.core`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe, bug, gpu

#9655 Run `upstream` build with Python 3.10
  .github/workflows/additional.yml
  .github/workflows/upstream.yml
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.9.yaml
  dask/array/wrap.py
  dask/tests/test_docs.py
  docs/source/develop.rst
Labels: array, documentation

#9660 Update dashboard docs for queuing
  docs/source/conf.py
  docs/source/dashboard-progress-script.py
  docs/source/dashboard.rst
  docs/source/deploying-hpc.rst
  docs/source/images/dashboard_progress.png
  docs/source/images/dashboard_status.png
Labels: documentation

#9650 Updates for `fastparquet` evolution
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#9677 Improve error message for failed backend dispatch call
  dask/backends.py
  dask/tests/test_backends.py
Labels: enhancement

#9670 `xfail` `ttest_1samp` for upstream `scipy`
  dask/array/tests/test_stats.py
Labels: array

#9688 Fix `da.fft.fft` for array-like inputs
  dask/array/fft.py
  dask/array/tests/test_xarray.py
Labels: array

#9672 Revise meta creation in arrow parquet engine
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#9697 Bump mypy version
  .pre-commit-config.yaml
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/tests/test_base.py
  dask/tests/test_delayed.py
  dask/tests/test_typing.py
Labels: dataframe, io

#9685 Method changed to support duplicate column cum-functions
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9667 Enable column projection for groupby slicing
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, highlevelgraph

#9704 Fix pandas 1.5+ `FutureWarning` in `.str.split(..., expand=True)`
  dask/dataframe/accessor.py
  dask/dataframe/tests/test_accessors.py
Labels: dataframe

#9571 Fix map_overlap in order to accept pandas arguments
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe
