Repository dask/dask, pull requests merged in 2022-01, with the labels that each got.

#8512 DOC fix doctest failures in slicing.py
  dask/array/slicing.py
Labels: array, needs info

#8525 Replace `interpolation` with `method` and `method` with `internal_method`
  dask/array/backends.py
  dask/array/numpy_compat.py
  dask/array/percentile.py
  dask/array/tests/test_cupy_percentile.py
  dask/array/tests/test_percentiles.py
Labels: array, dispatch

#8550 Work around race condition in `import llvmlite`
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8522 Add groupby shift method
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8552 Fix PANDAS_GT_140
  dask/dataframe/_compat.py
Labels: dataframe

#8556 Fix `skipna=None` for `DataFrame.sem`
  dask/dataframe/core.py
Labels: dataframe

#8561 Tweak: "RuntimeWarning: invalid value encountered in reciprocal"
  dask/array/tests/test_linalg.py
Labels: array

#8538 Fix boolean indices in array assignment
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_cupy_core.py
Labels: array

#8501 Detect default dtype on array-likes
  dask/array/tests/test_wrap.py
  dask/array/wrap.py
Labels: array

#8542 Fix `optimize_blockwise` bug for duplicate dependency names
  dask/array/tests/test_atop.py
  dask/array/tests/test_optimization.py
  dask/blockwise.py
Labels: array

#8564 Only show `percentile` `interpolation=` keyword warning if NumPy version >= 1.22
  dask/array/percentile.py
Labels: array

#8511 Raise `PerformanceWarning` when `limit` and `"array.slicing.split-large-chunks"` are None
  dask/array/core.py
  dask/array/reshape.py
  dask/array/tests/test_array_core.py
Labels: array

#8559 Specify scheduler in DataFrame `assert_eq`
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#8555 Fix `axis=None` warning
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8533 Add dask.dataframe.series.view()
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8554 Fix `to_frame` `name` to not pass None
  dask/dataframe/core.py
Labels: dataframe

#8498 Make sure that delayed output operations still return lists of paths
  dask/dataframe/io/csv.py
  dask/dataframe/io/json.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_json.py
Labels: dataframe, io

#8576 Update Docstring for 'from_delayed' Function
  dask/dataframe/io/io.py
Labels: dataframe, io

#8597 Avoid divide by zero in slicing
  dask/array/slicing.py
  dask/array/tests/test_slicing.py
Labels: array

#8453 Add optional information about originating function call in DataFrameIOLayer
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/optimize.py
  dask/layers.py
Labels: dataframe, io, highlevelgraph, parquet, needs attention

#8468 Move DataFrame ACA aggregations to HLG
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/layers.py
  dask/tests/test_distributed.py
  dask/tests/test_layers.py
Labels: dataframe, highlevelgraph

#8339 Use fsspec.parquet module for better remote-storage read_parquet performance
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/utils.py
  dask/layers.py
  dask/tests/test_layers.py
Labels: dataframe, io, parquet

#8563 Fail if meta is not a pandas object
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8601 Fix parsing of `__setitem__` indices
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_cupy_core.py
Labels: array

#8440 Enforce boolean `ascending` for `sort_values`
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8606 Move `cached_cumsum` imports to be from `dask.utils`
  dask/array/core.py
  dask/array/creation.py
  dask/array/tests/test_slicing.py
  dask/tests/test_utils.py
Labels: array

#8621 Pandas compat: Filter sparse warnings
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#8617 Deprecate append when pandas >= 1.4.0
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe, io

#8158 Moving to SQLAlchemy >= 1.4
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/__init__.py
  dask/dataframe/io/__init__.py
  dask/dataframe/io/sql.py
  dask/dataframe/io/tests/test_sql.py
  docs/source/dataframe-api.rst
  docs/source/dataframe-create.rst
  docs/source/dataframe-sql.rst
Labels: dataframe, io

#8588 Fix groupby.cumsum with series grouped by index
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8623 Cleaning up misc tests for pandas compat
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#8626 Update tz for pandas 1.4.0
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8628 Downgrade `meta` error in #8563 to warning
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8603 Add `include_path_column` arg to `read_json`
  dask/dataframe/io/json.py
  dask/dataframe/io/tests/test_json.py
Labels: dataframe, io
