Repository dask/dask, pull requests merged in 2022-07, with the labels that each got.

#9230 Only import IPython if type checking
  dask/array/core.py
  dask/typing.py
Labels: array

#9234 Highlight best practice about `persist`
  docs/source/best-practices.rst
Labels: documentation

#9260 Adds an example of how to access Numpy functions when implementing a …
  docs/source/dataframe-groupby.rst
Labels: documentation

#9255 Add typing to common methods
  dask/array/core.py
Labels: array

#9252 Fix bug when filtering on partitioned column with pyarrow
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, bug

#9270 docs: Fix a few typos
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/utils.py
Labels: dataframe, io

#9235 Use `max` (instead of `sum`) for calculating `warnsize`
  dask/array/slicing.py
  dask/array/tests/test_slicing.py
Labels: array

#9275 Update `calculate_divisions` docstring
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io, parquet

#9278 Remove outdated reference to scheduler and worker dashboards
  docs/source/how-to/debug.rst
Labels: documentation

#9244 Don't include docs in Array methods, just refer to module docs
  dask/array/core.py
  dask/array/reductions.py
Labels: array

#9264 Sort categories in `DataFrame.categorize`
  dask/dataframe/categorical.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#9285 Unknown chunk slicing - raise informative error
  dask/array/chunk.py
  dask/array/tests/test_slicing.py
Labels: array

#9288 updated repartition documentation to add note about `partition_size`
  dask/dataframe/core.py
Labels: dataframe

#9237 Add type annotations to `dd.from_pandas` and `dd.from_delayed`
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/utils.py
Labels: dataframe, io

#9250 Return dask array if all axes are squeezed
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#9265 Add `bokeh` and `scipy` to `upstream` CI build
  continuous_integration/scripts/install.sh
Labels: tests, upstream

#9282 Fix division calculation in `dask.dataframe.io.from_dask_array`
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#9306 Switch js-yaml for yaml.js in config converter
  docs/source/_static/config_converter.js
  docs/source/_static/js-yaml.min.js
  docs/source/_static/yaml.min.js
  docs/source/_templates/layout.html
Labels: documentation

#9240 #9238: _meta is lost during serialization.
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#9304 Use consistent variable names for df and ddf in groupby docs
  docs/source/dataframe-groupby.rst
Labels: documentation

#9312 Add tests for `cupy.angle()`
  dask/array/tests/test_cupy_core.py
Labels: array

#9329 Fix small typo in 10 minutes to Dask page
  docs/source/10-minutes-to-dask.rst
Labels: documentation
