Repository dask/dask, pull requests merged in 2022-04, with the labels that each got.

#8871 Organize diagnostic and performance docs
  docs/source/debugging-performance.rst
  docs/source/index.rst
Labels: documentation, almost done

#8858 Documentation of Limitation of Sample()
  .pre-commit-config.yaml
  dask/dataframe/core.py
Labels: dataframe

#8874 fix(merge_asof): drop index column if left_on == right_on
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#8835 Remove pyarrow-legacy engine from parquet API
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, deprecation

#8881 Add `network` marks to tests that fail without an internet connection
  dask/dataframe/io/tests/test_orc.py
  setup.cfg
Labels: dataframe, io

#8890 Update `DataFrame.query` docstring
  dask/dataframe/core.py
Labels: dataframe

#8893 Don't test `da.prod` on large integer data
  dask/array/tests/test_reductions.py
Labels: array

#8895 masked scalars input to `da.from_array`
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/array/utils.py
Labels: array

#8859 Correctly handle dict-specification for rechunk.
  dask/array/rechunk.py
  dask/array/tests/test_rechunk.py
Labels: array

#8898 Let ``get_dummies`` use ``meta`` computation in ``map_partitions``
  dask/dataframe/reshape.py
Labels: dataframe

#8558 Return ``da.Array`` rather than ``dd.Series`` for non-ufunc elementwise functions on ``dd.Series``
  dask/array/ufunc.py
  dask/dataframe/tests/test_ufunc.py
Labels: dataframe, array, deprecation, almost done

#8903 Fix custom getter in `da.from_array` when `inline_array=False`
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8897 Make ``is_monotonic`` work when some partitions are empty
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8913 Add note on missing parameter `out` for `dask.array.dot`
  dask/array/routines.py
Labels: array

#8908 Better error for failed wildcard path in `dd.read_csv()` (fixes #8878)
  dask/dataframe/io/csv.py
Labels: dataframe, io

#8906 Avoid collecting parquet metadata in pyarrow when write_metadata_file=False
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io, parquet

#8920 Add missing NumPy ufuncs: abs, left_shift, right_shift, positive.
  dask/array/__init__.py
  dask/array/tests/test_ufunc.py
  dask/array/ufunc.py
  docs/source/array-api.rst
Labels: array, documentation

#8907 Warn users that `engine='auto'` will change in future
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8912 Add removeprefix and removesuffix as StringMethods
  dask/dataframe/accessor.py
  dask/dataframe/tests/test_accessors.py
  docs/requirements-docs.txt
Labels: dataframe, documentation, almost done

#8940 specify dtype when deciding division using np.linspace in read_sql_query
  dask/dataframe/io/sql.py
Labels: dataframe, io

#8930 Fix bug for reduction of zero dimensional arrays
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#8846 Check that values for the `in` predicate in `read_parquet` are correct
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8899 Add a docs page for dask & parquet
  docs/source/dataframe-parquet.rst
  docs/source/dataframe.rst
Labels: documentation

#8889 `from_dask_array` uses `blockwise` instead of merging graphs
  dask/blockwise.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#8957 Avoid pre_buffer=True when an fsspec precache method is specified
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io, parquet

#8956 Add copy button to docs
  docs/requirements-docs.txt
  docs/source/conf.py
Labels: documentation

#8945 Raise an error if you try to use `vindex` with a dask object
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_routines.py
Labels: array

#8854 mypy compatibility
  .pre-commit-config.yaml
  MANIFEST.in
  dask/array/core.py
  dask/array/numpy_compat.py
  dask/array/optimization.py
  dask/base.py
  dask/blockwise.py
  dask/config.py
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/tests/test_dataframe.py
  dask/graph_manipulation.py
  dask/highlevelgraph.py
  dask/layers.py
  dask/py.typed
  dask/tests/test_base.py
  dask/tests/test_utils.py
  dask/utils.py
  docs/source/develop.rst
  setup.cfg
  setup.py
Labels: dataframe, array, io, documentation

#8852 Use DataFrameIOLayer in DataFrame.from_delayed
  dask/blockwise.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
  dask/layers.py
  dask/tests/test_distributed.py
Labels: dataframe, io, highlevelgraph

#8972 Stringify BlockwiseDepDict mapping values when produces_keys=True
  dask/blockwise.py
  dask/tests/test_distributed.py
Labels: highlevelgraph, bug

#8976 Document Python 3.10 as supported
  docs/source/develop.rst
Labels: documentation

#8967 Fix recursion error issue with set_index (fixes #8955)
  dask/dataframe/shuffle.py
  dask/tests/test_distributed.py
Labels: dataframe

#8982 Simplify `to_parquet` compute path
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#8971 Improve read_parquet docstring formatting
  dask/dataframe/io/parquet/core.py
Labels: dataframe, io

#8925 Make sure ``da.roll`` works even if shape is 0
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#8921 advised not to use `map_block()`'s `drop_axis` on chunked axes of an array
  dask/array/core.py
Labels: array, documentation

#8977 added description for parameter `align_arrays` in `array.blockwise()`
  dask/array/blockwise.py
Labels: array, documentation

#8987 Improve `NotImplementedError` message for da.reshape
  dask/array/reshape.py
  dask/array/tests/test_array_core.py
Labels: array

#8961 Pandas 1.5.0 compatibility
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  setup.cfg
Labels: dataframe, tests, upstream

#8990 `to_parquet` errors for non-string column names
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8926 Let arg reductions pass ``keepdims``
  dask/array/core.py
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array, almost done

#8988 Change `to_parquet` default to `write_metadata_file=None`
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8989 Fix bug in blockwise fusion after from_delayed
  dask/blockwise.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#8992 Deprecate gather_statistics from read_parquet
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#8994 Call `fs.invalidate_cache` in `to_parquet`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8995 Update write_metadata_file discussion in documentation
  docs/source/dataframe-parquet.rst
Labels: documentation, parquet

#8954 Handle `dtype=None` correctly in `da.full`
  dask/array/tests/test_wrap.py
  dask/array/wrap.py
Labels: array
