Repository dask/dask, pull requests merged in 2022-05, with the labels that each got.

#9012 Add highlights section to 2022.04.2 release notes
  docs/source/changelog.rst
Labels: documentation

#9010 Update `to_timedelta` default unit
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  docs/source/dataframe-api.rst
Labels: dataframe, documentation

#8836 Shuffle Service
  dask/dataframe/shuffle.py
Labels: dataframe

#8911 Add from_map function to Dask-DataFrame
  dask/blockwise.py
  dask/dataframe/__init__.py
  dask/dataframe/io/__init__.py
  dask/dataframe/io/csv.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/hdf.py
  dask/dataframe/io/io.py
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/utils.py
  dask/layers.py
  docs/source/dataframe-api.rst
  docs/source/dataframe-create.rst
Labels: dataframe, io, documentation

#9027 Fix bug in array assignment when the mask has been hardened
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#9031 Prevent codecov from notifying of failure too soon
  .github/workflows/additional.yml
  codecov.yml
Labels: tests

#9024 Patch around pandas ArrowStringArray pickling
  dask/dataframe/__init__.py
  dask/dataframe/_pyarrow_compat.py
  dask/dataframe/tests/test_pyarrow_compat.py
Labels: dataframe

#9037 Fix flaky `test_reductions_2D`
  dask/array/tests/test_reductions.py
Labels: array

#9040 Add `codespell` pre-commit hook
  .pre-commit-config.yaml
  docs/source/custom-collections.rst
  docs/source/dataframe-extend.rst
  docs/source/dataframe-sql.rst
  docs/source/deploying-kubernetes-helm.rst
  docs/source/deploying-python.rst
  docs/source/deploying.rst
  docs/source/develop.rst
  docs/source/graphviz.rst
  docs/source/shared.rst
  setup.cfg
Labels: documentation

#9045 Add end of file `pre-commit` hook
  .github/labeler.yml
  .github/release.yml
  .pre-commit-config.yaml
  docs/source/_static/config_converter.js
  docs/source/_static/style.css
  docs/source/_templates/layout.html
  docs/source/array-assignment.rst
  docs/source/caching.rst
  docs/source/changelog.rst
  docs/source/dataframe-groupby.rst
  docs/source/debugging-performance.rst
  docs/source/how-to/setup-prometheus.rst
  docs/source/images/crosstalk.svg
  docs/source/images/dask-overview-distributed-callout.svg
  docs/source/images/dask-overview-schedulers.svg
  docs/source/images/dask_stacked.svg
  docs/source/images/dask_stacked_white.svg
  docs/source/images/trivial.svg
Labels: documentation

#8674 Collection Protocol
  dask/bag/core.py
  dask/base.py
  dask/dataframe/core.py
  dask/tests/test_base.py
  dask/tests/test_typing.py
  dask/typing.py
Labels: dataframe, discussion

#9050 Update `ensure_bytes`
  dask/tests/test_utils.py
  dask/utils.py
Labels: needs review, hygiene

#8993 Force nightly pyarrow in the upstream build
  continuous_integration/scripts/install.sh
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9025 Docs - Update page on creating and storing Dask DataFrames
  docs/source/dataframe-create.rst
  docs/source/how-to/connect-to-remote-data.rst
Labels: documentation

#9036 Update error message for assignment using 1-d dask array index
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#9052 Add pre-deprecation warnings for `chunksize` and `aggregate_files` to `read_parquet`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#8869 Implement {Series,DataFrame}GroupBy `fillna` methods
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
  docs/source/dataframe-api.rst
Labels: dataframe, documentation

#9059 Improve object handling & testing of `ensure_unicode`
  dask/tests/test_utils.py
  dask/utils.py
Labels: needs review, hygiene

#9066 Handle enumerate and generator inputs to from_map
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#8963 Prevent nulls in index for non-numeric dtypes
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, io

#8865 fixed broadcast of array chunks containing a scalar during `compute()`
  dask/array/core.py
  dask/array/tests/test_array_core.py
  dask/array/utils.py
Labels: array

#9017 Add `DataFrame.from_dict` classmethod
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  docs/source/dataframe-api.rst
  docs/source/dataframe-create.rst
Labels: dataframe, documentation

#9077 Update dataframe sql docs references to other libraries
  docs/source/dataframe-sql.rst
Labels: documentation

#9071 corrected `map_blocks()` docstring for kwarg `enforce_ndim`
  dask/array/core.py
Labels: array

#9078 Fix column-projection with enforce_metadata=True in from_map
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io

#9001 Rearrange docs TOC
  docs/source/deploying.rst
  docs/source/index.rst
Labels: documentation

#9082 Clarify chunking in `imread` docstring
  dask/array/image.py
Labels: array

#9098 Better SEO for docs on creating and storing Dask DataFrames
  docs/source/dataframe-create.rst
Labels: documentation

#9075 Mention `align_dataframes=False` option in `map_partitions` error
  dask/dataframe/core.py
Labels: dataframe

#9097 Update custom collection documentation (leverage new collection protocol)
  dask/typing.py
  docs/source/custom-collections.rst
  docs/source/high-level-graphs.rst
Labels: documentation

#9084 Document `map_partitions` handling of args vs kwargs, usage of `partition_info`
  dask/dataframe/core.py
Labels: dataframe

#9102 Improve to_parquet error for appended divisions overlap
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9106 Fixup column projection with no columns
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/optimize.py
  dask/layers.py
Labels: dataframe, io

#9091 Visualize task graphs using ipycytoscape
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/base.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dot.py
  dask/highlevelgraph.py
  dask/tests/test_base.py
  dask/tests/test_dot.py
  docs/source/_static/transpose_cyto.html
  docs/source/graphviz.rst
  docs/source/images/transpose_opt.svg
  docs/source/install.rst
Labels: documentation, core, feature

#9124 Error if `read_parquet` & `to_parquet` files intersect
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9126 Fix various typos
  dask/array/tests/test_creation.py
  dask/base.py
  dask/blockwise.py
  dask/layers.py
  dask/multiprocessing.py
  dask/optimization.py
  dask/typing.py
Labels: array

#9074 Add a dispatch for non-pandas `Grouper` objects and use it in GroupBy
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, dispatch

#9127 Fix flaky `test_filter_nonpartition_columns`
  dask/dataframe/io/parquet/fastparquet.py
Labels: dataframe, io

#9128 Better SEO for docs on Dask DataFrames
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/dataframe.rst
  docs/source/index.rst
  docs/source/scheduling.rst
Labels: documentation

#9131 Enfore consistent schema in `to_parquet` pyarrow
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9041 Simplify partitioning logic in pyarrow parquet engine
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#9143 `pyarrow` 8.0 partitioning fix
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#9139 Un-`xfail` `test_groupby_grouper_dispatch`
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9119 Add base CollectionOperation, FrameOperation and CompatFrameOperation classes
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/operation.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_operation.py
  dask/operation.py
Labels: dataframe, io
