Repository dask/dask, pull requests merged in 2022-10, with the labels that each got.

#9537 Update Parquet best practice
  docs/source/dataframe-best-practices.rst
Labels: documentation

#9530 Run mypy on Windows and Linux
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  dask/array/tests/test_testing.py
  dask/dataframe/_compat.py
  dask/dataframe/io/csv.py
  dask/diagnostics/tests/test_profiler.py
  dask/system.py
  dask/tests/test_base.py
  dask/tests/test_spark_compat.py
  dask/tests/test_threaded.py
Labels: dataframe, array, io

#9534 Fix project CSV columns when selecting
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#9540 Ensure pickle-able binops in `delayed`
  continuous_integration/scripts/test_imports.sh
  dask/delayed.py
Labels: delayed, bug

#9538 Stable demo column projection
  dask/dataframe/io/demo.py
  dask/dataframe/io/tests/test_demo.py
Labels: dataframe, io

#9504 Shuffle-based groupby for single functions
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_format.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9559 Adding support for string timedelta in `map_overlap`
  dask/dataframe/core.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe

#9516 Groupby median
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, feature

#9283 Add new CLI that is extensible
  dask/__main__.py
  dask/cli.py
  dask/tests/test_cli.py
  dask/utils.py
  docs/source/cli.rst
  docs/source/conf.py
  docs/source/deploying-cli.rst
  docs/source/index.rst
  setup.cfg
Labels: documentation, feature

#9475 Backend library dispatching for IO in Dask-Array and Dask-DataFrame
  dask/array/backends.py
  dask/array/creation.py
  dask/array/cupy_entry_point.py
  dask/array/random.py
  dask/array/tests/test_creation.py
  dask/array/wrap.py
  dask/backends.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/__init__.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/io/__init__.py
  dask/dataframe/io/csv.py
  dask/dataframe/io/hdf.py
  dask/dataframe/io/io.py
  dask/dataframe/io/json.py
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/parquet/core.py
  docs/source/how-to/selecting-the-collection-backend.rst
  setup.cfg
Labels: dataframe, array, io, documentation, dispatch, enhancement

#9568 Render meta description in `map_overlap` docstring
  dask/dataframe/rolling.py
Labels: dataframe

#9519 Redesigning the array HTML repr for clarity
  dask/array/core.py
  dask/widgets/templates/array.html.j2
Labels: array

#9578 Fix `merge` with emtpy left DataFrame
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#9566 Add extension dtype support to `set_index`
  dask/dataframe/partitionquantiles.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#9584 Fix `Semaphore` API docs
  docs/source/futures.rst
Labels: documentation

#9563 Enable named aggregation syntax
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9589 Use `sphinx-click` for `dask` CLI
  docs/source/cli.rst
Labels: documentation

#9592 Add note about limiting thread oversubscription by default
  docs/source/array-best-practices.rst
  docs/source/deploying-python-advanced.rst
Labels: documentation
