Repository dask/dask, pull requests merged in 2022-03, with the labels that each got.

#8754 [WIP] Deprecate `bcolz` support
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io, deprecation

#8774 Update Docker images to use ghcr.io
  docs/source/deploying-docker.rst
Labels: documentation

#8786 Fix serialization bug in DataFrameTreeReduction
  dask/layers.py
  dask/tests/test_distributed.py
Labels: highlevelgraph, bug, needs review

#8781 Improve explanation of `divisions` in `dataframe.repartition` docstring
  dask/dataframe/core.py
Labels: dataframe

#8789 Informative error for `DataFrame.set_index` with empty divisions
  dask/dataframe/core.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8782 fix groupby shift bug caused by unsorted partitions after shuffle
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8648 Dashboard docs on /status page
  docs/source/dashboard.rst
  docs/source/images/dashboard_jupyterlab.png
  docs/source/images/dashboard_link.png
  docs/source/images/dashboard_memory.png
  docs/source/images/dashboard_progress.png
  docs/source/images/dashboard_status.png
  docs/source/images/dashboard_task_processing.png
  docs/source/images/dashboard_task_stream_unhealthy.png
  docs/source/images/dashboard_taskstream_healthy.png
  docs/source/index.rst
Labels: documentation

#8517 Add `ddf.compute_current_divisions` to get divisions on a sorted index or column
  dask/dataframe/core.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, bug, feature

#8775 Fix "physical" column bug in pyarrow-based read_parquet
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#8291 Fix test_describe_empty to work without global -Werror
  dask/dataframe/tests/test_dataframe.py
Labels: tests, almost done

#8718 Avoid pytest.warns(None)
  dask/array/tests/test_array_core.py
  dask/array/tests/test_atop.py
  dask/array/tests/test_cupy_reductions.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_slicing.py
  dask/array/tests/test_stats.py
  dask/array/tests/test_ufunc.py
  dask/bag/tests/test_bag.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_reshape.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/diagnostics/tests/test_profiler.py
  dask/tests/test_base.py
Labels: dataframe, array, io

#8757 Add `Series.str`,`Series.dt`, and `Series.cat` accessors to docs
  dask/dataframe/_accessor.py
  dask/dataframe/accessor.py
  dask/dataframe/categorical.py
  dask/dataframe/core.py
  dask/dataframe/extensions.py
  dask/dataframe/tests/test_accessors.py
  dask/utils.py
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/dataframe-api.rst
Labels: dataframe, documentation, dispatch

#8807 Custom collection example docs fix (remove comment about automatic optimizations)
  docs/source/custom-collections.rst
Labels: documentation

#8646 Move Bag.map_partitions to Blockwise
  dask/bag/core.py
  dask/bag/tests/test_bag.py
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
Labels: dataframe, io, discussion

#8812 Tidy up ``assert_eq`` calls in array tests
  dask/array/tests/test_reductions.py
  dask/array/utils.py
Labels: array

#7980 Quick fix for unbounded memory usage in tensordot
  dask/array/routines.py
  dask/array/tests/test_cupy_sparse.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_sparse.py
Labels: array, almost done

#8814 to_parquet default to `compression="snappy"`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#7636 Bag: add implementation for reservoir sampling (#7068)
  dask/bag/random.py
  dask/bag/tests/test_random.py
Labels: bag, almost done

#8818 Raise exception for not implemented merge 'how' option
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#8824 Fix bug when applying "not equal" predicate in read_parquet
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, bug

#8831 Use Blockwise/`map_partitions` for more tasks
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#8834 Remove `dataframe.tseries.resample.getnanos`
  dask/dataframe/tseries/resample.py
  dask/dataframe/tseries/tests/test_resample.py
Labels: dataframe

#8827 Subgraph Callable Getter
  dask/array/core.py
  dask/array/optimization.py
  dask/array/tests/test_optimization.py
Labels: array, almost done

#8851 Pandas1.3 32bit
  dask/dataframe/backends.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, dispatch

#8860 Added check on dtype.itemsize in order to produce an useful error mes…
  .gitignore
  dask/array/core.py
  dask/array/tests/test_creation.py
Labels: array
