Repository dask/dask, pull requests merged in 2022-12, with the labels that each got.

#9701 Fix flaky `test_dataframe_aggregations_multilevel`
  dask/dataframe/groupby.py
Labels: dataframe, bug

#9617 Add support for `use_nullable_dtypes` to `dd.read_parquet`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/io/utils.py
  dask/tests/test_spark_compat.py
Labels: dataframe, io, feature

#9661 Remove statistics-based set_index logic from read_parquet
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, bug

#9716 Rename columns correctly in case of `SeriesGroupby`
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9717 Add support for simple operation with `pyarrow`-backed extension dtypes
  dask/dataframe/_dtypes.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9737 Avoid `np.bool8` deprecation warning
  dask/array/routines.py
Labels: array

#9724 Partial functions in aggs may have arguments
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9748 Fix url link typo in collection backend doc
  docs/source/how-to/selecting-the-collection-backend.rst
Labels: documentation

#9741 Fix bug when repartitioning with tz-aware datetime index
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9740 Serialize all `pyarrow` extension arrays efficiently
  dask/dataframe/_compat.py
  dask/dataframe/_pyarrow_compat.py
  dask/dataframe/tests/test_pyarrow_compat.py
Labels: dataframe

#9699 Make filesystem-backend configurable in `read_parquet`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/io/utils.py
Labels: dataframe, io, parquet

#9579 Support `cupy.ndarray` to `cudf.DataFrame` dispatching in `dask.dataframe`
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
  docs/source/how-to/selecting-the-collection-backend.rst
Labels: dataframe, io, documentation, dispatch, needs attention

#9708 Add support for Python 3.11
  .github/workflows/additional.yml
  .github/workflows/tests.yml
  continuous_integration/environment-3.11.yaml
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/io/tests/test_parquet.py
  setup.py
Labels: dataframe, io

#9719 Support `dtype_backend="pandas|pyarrow"` configuration
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/tests/test_spark_compat.py
Labels: dataframe, io

#9774 Remove executable flag from `dask/dataframe/io/orc/utils.py`
  dask/dataframe/io/orc/utils.py
Labels: dataframe, io

#9761 Move Prometheus docs to dask/distributed
  docs/source/how-to/setup-prometheus.rst
Labels: documentation

#9777 `numpy=1.24` compatability
  continuous_integration/environment-3.11.yaml
  dask/array/numpy_compat.py
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_reshape.py
  dask/diagnostics/tests/test_profiler.py
Labels: dataframe, array, io

#9752 `get_dummies` compatibility for `pandas` 2.0
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#9750 `append` compatibility for `pandas` 2.0
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#9779 `GroupBy.__getitem__` compatibility for `pandas` 2.0
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9776 Deflate sizeof() of duplicate references to pandas object types
  dask/dataframe/_compat.py
  dask/sizeof.py
  dask/tests/test_sizeof.py
Labels: dataframe

#9695 Remove `sqlachemy` 1.3 compatibility
  dask/dataframe/io/sql.py
Labels: dataframe, io

#9785 `iteritems` compatibility for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/tests/test_spark_compat.py
Labels: dataframe

#9786 `xfail` `datetime64` Parquet roundtripping tests for `pandas` 2.0
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9784 Mention `SubprocessCluster` in `deploying-python` docs
  docs/source/deploying-python.rst
Labels: documentation

#9790 Update Zarr store creation functions
  dask/array/core.py
Labels: array
