Repository dask/dask, pull requests merged in 2022-06, with the labels that each got.

#9149 Fix typo in `map_partitions` `func` parameter description
  dask/dataframe/core.py
Labels: dataframe

#9108 Use deterministic hashing with `_iLocIndexer` / `_LocIndexer`
  dask/dataframe/indexing.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#9140 Switch parquet default engine to `pyarrow`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  docs/source/dataframe-parquet.rst
Labels: dataframe, io, documentation

#9154 Try disabling HDF5 locking
  .github/workflows/tests.yml
  dask/dataframe/io/hdf.py
  dask/tests/test_distributed.py
Labels: dataframe, io

#9160 Update docs theme for rebranding
  docs/requirements-docs.txt
  docs/source/conf.py
Labels: documentation

#9130 Add `sort_results` argument to assert_eq
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#9161 Add example using pandas Series to map_partition doctring (#7323)
  dask/dataframe/core.py
Labels: dataframe

#9170 Fix `pyarrow.StringArray` pickle
  dask/dataframe/_pyarrow_compat.py
  dask/dataframe/tests/test_pyarrow_compat.py
Labels: dataframe

#9169 Add arrow schema extraction dispatch
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, dispatch

#9156 Test round-tripping dataframe parquet I/O including pyspark
  .github/workflows/tests.yml
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
  dask/tests/test_spark_compat.py
Labels: dataframe, io, tests, parquet

#9171 Remove ensure_file from recommended practice for downstream libraries
  docs/source/configuration.rst
Labels: documentation

#9178 Better SEO for Installing Dask and Dask DataFrame Best Practices
  docs/source/dataframe-best-practices.rst
  docs/source/dataframe.rst
  docs/source/develop.rst
  docs/source/index.rst
  docs/source/install.rst
Labels: documentation

#9175 More retries when writing parquet to remote filesystem
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9177 Include known inconsistency in DataFrame `str.split` accessor docstring
  dask/dataframe/accessor.py
Labels: dataframe

#9157 `shuffle_group()`: avoid converting to arrays
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/multi.py
  dask/dataframe/shuffle.py
Labels: dataframe, dispatch

#9094 Update `to_csv` docstring
  dask/dataframe/io/csv.py
  docs/source/conf.py
Labels: dataframe, io, documentation

#7776 Add allow_chunk kwarg to overlap dask array function
  dask/array/overlap.py
  dask/array/tests/test_overlap.py
Labels: array, almost done

#9194 Better SEO for Delayed and Best Practices
  docs/source/best-practices.rst
  docs/source/delayed.rst
  docs/source/index.rst
Labels: documentation

#9199 Add link to Genevieve's blog on choosing good chunk sizes
  docs/source/array-chunks.rst
Labels: documentation

#9053 Dask in pyodide
  dask/array/core.py
  dask/bag/core.py
  dask/base.py
  dask/compatibility.py
  dask/dataframe/core.py
  dask/dataframe/io/hdf.py
  dask/delayed.py
  dask/local.py
  dask/multiprocessing.py
  dask/tests/test_base.py
  dask/threaded.py
  dask/typing.py
Labels: dataframe, array, io

#9196 Fix indentation in Best Practices
  docs/source/best-practices.rst
Labels: documentation

#9202 Add missing `append` in `delayed` best practices example
  docs/source/delayed-best-practices.rst
Labels: documentation

#9192 Add `inconsistencies` keyword to `derived_from`
  dask/dataframe/accessor.py
  dask/utils.py
Labels: dataframe

#9201 Better error message for unsupported numpy operations on dask.dataframe objects.
  dask/dataframe/core.py
  dask/dataframe/tests/test_ufunc.py
Labels: dataframe

#9193 Correct dtypes when `concat` with an empty dataframe
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#7688 Feat: read entrypoints in dask.sizeof
  dask/sizeof.py
  dask/tests/test_sizeof.py
  docs/source/how-to/extend-sizeof.rst
Labels: documentation, config, needs review

#9206 Tougher mypy checks
  .pre-commit-config.yaml
  dask/array/numpy_compat.py
  dask/config.py
  dask/dataframe/core.py
  dask/graph_manipulation.py
  dask/highlevelgraph.py
  dask/tests/test_typing.py
  setup.cfg
Labels: dataframe, array

#9015 Fix TypeError: 'Serialize' object is not subscriptable when writing parquet dataset with Client(processes=False)
  dask/dataframe/io/parquet/core.py
  dask/tests/test_distributed.py
Labels: dataframe, io
