Repository dask/dask, pull requests merged in 2022-02, with the labels that each got.

#8604 Update documentation of `ProgressBar` `out` parameter
  dask/diagnostics/progress.py
Labels: documentation

#8590 Adds region to to_zarr when using existing array
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8609 Add engine_kwargs support to dask.dataframe.to_sql
  dask/dataframe/core.py
  dask/dataframe/io/sql.py
  dask/dataframe/io/tests/test_sql.py
Labels: dataframe, io

#8643 Pass place-holder metadata to map_partitions in ACA code path
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#8487 Use map_partitions (Blockwise) in to_parquet
  dask/blockwise.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, highlevelgraph, parquet

#8605 Remove some deprecations
  dask/array/random.py
  dask/array/tests/test_random.py
  dask/bytes/__init__.py
  dask/compatibility.py
  dask/highlevelgraph.py
  dask/tests/test_compatibility.py
  dask/tests/test_highgraph.py
  dask/tests/test_utils.py
  dask/utils.py
Labels: array

#8651 Update warning handling in `get_dummies` tests
  dask/dataframe/tests/test_reshape.py
Labels: dataframe

#8653 Deprecate `is_monotonic`
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#8629 Really allow any iterable to be passed as a meta
  dask/dataframe/backends.py
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe, dispatch

#8678 Avoid `pytest.warns(None)` in `test_multi.py`
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#8610 Add scheduler option to `assert_eq` utilities
  dask/array/tests/test_array_utils.py
  dask/array/utils.py
  dask/bag/utils.py
Labels: array, tests, enhancement

#8693 DOC: imbalanced backticks.
  dask/array/reductions.py
Labels: array, documentation

#8691 Update `pre-commit` version
  .pre-commit-config.yaml
  dask/array/gufunc.py
  dask/array/linalg.py
  dask/array/reductions.py
  dask/array/stats.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_cupy_core.py
  dask/array/tests/test_masked.py
  dask/array/tests/test_optimization.py
  dask/array/tests/test_random.py
  dask/array/tests/test_rechunk.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_sparse.py
  dask/bag/chunk.py
  dask/bag/core.py
  dask/bag/tests/test_bag.py
  dask/bytes/tests/test_s3.py
  dask/dataframe/groupby.py
  dask/dataframe/hyperloglog.py
  dask/dataframe/io/csv.py
  dask/dataframe/io/json.py
  dask/dataframe/io/tests/test_sql.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/local.py
  dask/multiprocessing.py
  dask/tests/test_base.py
  dask/tests/test_delayed.py
  dask/tests/test_utils.py
  dask/utils.py
Labels: dataframe, array, io

#8295 Type annotations, part 1
  dask/_version.py
  dask/array/chunk.py
  dask/array/core.py
  dask/array/fft.py
  dask/array/rechunk.py
  dask/array/routines.py
  dask/array/tests/test_atop.py
  dask/array/tests/test_cupy_slicing.py
  dask/array/tests/test_linalg.py
  dask/bag/tests/test_text.py
  dask/base.py
  dask/blockwise.py
  dask/bytes/tests/test_http.py
  dask/bytes/tests/test_local.py
  dask/bytes/tests/test_s3.py
  dask/callbacks.py
  dask/compatibility.py
  dask/config.py
  dask/dataframe/_dtypes.py
  dask/dataframe/accessor.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/utils.py
  dask/diagnostics/tests/test_profiler.py
  dask/graph_manipulation.py
  dask/highlevelgraph.py
  dask/multiprocessing.py
  dask/sizeof.py
  dask/tests/test_base.py
  dask/tests/test_context.py
  dask/tests/test_delayed.py
  dask/tests/test_graph_manipulation.py
  dask/tests/test_threaded.py
  dask/threaded.py
  dask/utils.py
  dask/utils_test.py
  dask/widgets/__init__.py
  docs/source/conf.py
  docs/source/develop.rst
  docs/source/ext/dask_config_sphinx_ext.py
  docs/source/scripts/scheduling.py
  setup.py
  versioneer.py
Labels: dataframe, array, io, dispatch

#8637 Result of reducing an array should not depend on its chunk-structure!!!
  dask/array/chunk.py
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array, bug, p2

#8687 Add expand_dims to Dask array (#8667)
  dask/array/__init__.py
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#8686 Fix concatenate inconsistency with NumPy for axis=None (#8668)
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#8690 Unpin `coverage` in CI
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
Labels: tests, hygiene

#8696 Do not allow iterating a DataFrameGroupBy
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8723 fixed bug in dask.array.roll() for roll-shifts the size of the input array
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: array

#8725 Temporarily remove `scipy` upstream CI build
  continuous_integration/scripts/install.sh
Labels: tests

#8727 Fix upstream missing newline after `info()` call on empty DataFrame
  dask/dataframe/core.py
Labels: dataframe, upstream

#8572 Drop Python 3.7
  .github/workflows/additional.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  continuous_integration/environment-3.7.yaml
  continuous_integration/environment-mindeps-array.yaml
  continuous_integration/environment-mindeps-dataframe.yaml
  continuous_integration/environment-mindeps-distributed.yaml
  continuous_integration/environment-mindeps-non-optional.yaml
  continuous_integration/recipe/meta.yaml
  dask/array/slicing.py
  dask/blockwise.py
  dask/compatibility.py
  dask/dataframe/tests/test_shuffle.py
  dask/graph_manipulation.py
  dask/utils.py
  docs/source/develop.rst
  setup.py
Labels: dataframe, array

#8734 Added compute method to raise error on use
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#8746 Make the labeler not delete labels, and fix docs location
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: hygiene

#8679 Update docs to include `distributed.Client` preload
  docs/source/how-to/customize-initialization.rst
Labels: documentation

#8595 Document monthly social meeting
  docs/source/support.rst
Labels: documentation

#8740 Improve multi dataframe join performance
  dask/dataframe/core.py
Labels: dataframe

#8732 Fix upstream to include `bool` type for `Index`
  dask/dataframe/backends.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream, dispatch

#8748 DOC: Gen2 access with RBAC/ACL (security principal)
  docs/source/how-to/connect-to-remote-data.rst
Labels: documentation

#8733 TST: fix parquet test_pandas_timestamp_overflow_pyarrow test
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8527 Fix for `normalize_function` `dataclass` methods
  dask/base.py
  dask/tests/test_base.py
  dask/tests/test_delayed.py
Labels: core, bug

#8741 Allow ArrowDatasetEngine subclass to override pandas->arrow conversion also for partitioned write
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io

#8649 Add aggregate functions 'first' and 'last' to 'dask.dataframe.pivot_table
  dask/dataframe/methods.py
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe, feature

#8703 offered a fix for rechunking with zero-size-chunks
  dask/array/rechunk.py
  dask/array/tests/test_creation.py
  dask/array/tests/test_rechunk.py
Labels: array

#8689 increased performance of k-diagonal extraction in da.diag() and da.diagonal()
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#8745 Move creation of sqlalchemy connection for picklability
  dask/dataframe/io/sql.py
  dask/tests/test_distributed.py
Labels: dataframe, io, bug

#8676 Change linspace creation to match numpy when num equal to 0
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array, enhancement

#8752 Deprecate `dataframe.tseries.resample.getnanos`
  dask/dataframe/tseries/resample.py
  dask/dataframe/tseries/tests/test_resample.py
Labels: dataframe

#8751 Use dask config extension from `dask-sphinx-theme`
  docs/requirements-docs.txt
  docs/source/conf.py
  docs/source/ext/dask_config_sphinx_ext.py
Labels: documentation

#8523 Add std() support for datetime64 dtype for Pandas-like objects (#8214)
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe, feature

#8758 Add deprecation warning for pyarow-legacy engine
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#8755 Make scheduler kwarg pass though to sub functions in `da.assert_eq`
  dask/array/tests/test_array_utils.py
  dask/array/utils.py
  dask/tests/test_distributed.py
Labels: array

#8743 Followup to PR 8397 map_overlap default boundary kwarg
  dask/array/overlap.py
  dask/array/tests/test_cupy_overlap.py
  dask/array/tests/test_overlap.py
Labels: array, deprecation

#8302 Added some extra test coverage
  dask/dataframe/tests/test_numeric.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, needs attention
