Repository dask/dask, pull requests merged in 2022-08, with the labels that each got.

#9289 Change repr methods to avoid Layer materialization
  dask/array/core.py
  dask/dataframe/core.py
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_format.py
  dask/utils.py
  dask/widgets/templates/array.html.j2
  dask/widgets/templates/dataframe.html.j2
Labels: dataframe, array

#9336 Temporarily `xfail` `test_solve_sym_pos`
  dask/array/tests/test_linalg.py
Labels: array

#9338 Fix for docs title formatting
  docs/source/how-to/extend-sizeof.rst
Labels: documentation

#9326 add I/O info for async functions
  docs/source/futures.rst
Labels: documentation

#9340 Tidy up docs snippet for futures IO functions
  docs/source/futures.rst
Labels: documentation

#9332 keepdims keyword for average
  dask/array/ma.py
  dask/array/numpy_compat.py
  dask/array/routines.py
  dask/array/tests/test_masked.py
  dask/array/tests/test_routines.py
Labels: array

#9320 Fix bug for cumsum on cupy chunked dask arrays
  dask/array/reductions.py
  dask/array/tests/test_cupy_reductions.py
Labels: array

#9346 Add note to ``da.from_array`` about how the order is not preserved
  dask/array/core.py
Labels: array

#9221 Revise divisions logic in from_pandas
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, io

#9347 Update `test_getitem_avoids_large_chunks_missing`
  dask/array/tests/test_slicing.py
Labels: array

#9322 Docs: how to use kwargs with custom task graphs
  dask/utils.py
  docs/source/api.rst
  docs/source/custom-graphs.rst
Labels: documentation

#9317 Make sure 'order' kwarg will not crash the 'astype' method in dask
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array

#9354 Ensure `make_meta` doesn't hold ref to data
  dask/dataframe/backends.py
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe, dispatch

#9350 Update `da.linalg.solve` for SciPy 1.9.0 compatibility
  dask/array/linalg.py
  dask/array/tests/test_linalg.py
  docs/source/conf.py
Labels: array, documentation, upstream

#9268 Add support for empty partitions to `da.min`/`da.max` functions
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#9357 Consolidate dashboard diagnostics documentation
  docs/source/10-minutes-to-dask.rst
  docs/source/dashboard.rst
  docs/source/diagnostics-distributed.rst
  docs/source/faq.rst
Labels: documentation

#9362 Fix type annotations for `dd.from_pandas` and `dd.from_delayed`
  dask/dataframe/io/io.py
Labels: dataframe, io

#9349 Fix bag sampling when there are some smaller partitions
  dask/bag/random.py
  dask/bag/tests/test_random.py
Labels: bag, bug

#8896 Make ``set_index(..., sorted=True)`` handle entirely empty dataframes
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, needs attention

#9366 Don't allow incompatible keywords in `DataFrame.dropna`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#9348 Fix `make_meta` while using categorical column with index
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#9342 Sparse array reductions
  dask/array/backends.py
  dask/array/dispatch.py
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_sparse.py
Labels: array, dispatch

#9377 Fix `SeriesGroupBy` cumulative functions with `axis=1`
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9378 Implement ma.*_like functions
  dask/array/ma.py
  dask/array/tests/test_masked.py
  docs/source/array-api.rst
Labels: array, documentation

#9302 Shuffle-based groupby aggregation for high-cardinality groups
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9402 Fuse compatible annotations
  dask/array/tests/test_atop.py
  dask/blockwise.py
  dask/dask-schema.yaml
  dask/dask.yaml
Labels: array

#9309 Add maintainer documentation page
  docs/source/index.rst
  docs/source/maintainers.rst
Labels: documentation

#9413 Fix caching-related MaterializedLayer.cull performance regression
  dask/highlevelgraph.py
  dask/tests/test_layers.py
Labels: highlevelgraph, bug

#6710 Accept superclasses in NEP-13/17 dispatching
  dask/array/core.py
Labels: array

#9442 Enable automatic column projection for groupby aggregations
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe
