Repository dask/dask, pull requests merged in 2023-10, with the labels that each got.

#9961 Allow passing index_col=False in dd.read_csv
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#10535 [dask.order] Reduce memory pressure for multi array reductions by releasing splitter tasks more eagerly
  dask/order.py
  dask/tests/test_order.py
Labels: needs review, enhancement

#10454 Add documentation for hive partitioning
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  docs/source/dataframe-hive.rst
  docs/source/dataframe-parquet.rst
  docs/source/dataframe.rst
Labels: dataframe, io, documentation, parquet

#10552 Dispatch the ``partd.Encode`` class used for disk-based shuffling
  dask/dataframe/backends.py
  dask/dataframe/dispatch.py
  dask/dataframe/shuffle.py
Labels: dataframe, dispatch

#10559 Release 2023.10.0
  docs/source/changelog.rst
  docs/source/conf.py
  pyproject.toml
Labels: documentation

#10542 Add optimized code paths for ``drop_duplicates``
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10569 scikit-image v0.22.0 merged numpy v2 support [test-upstream]
  dask/array/tests/test_image.py
Labels: array

#10577 unignore and fix deprecated freq aliases
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/demo.py
  dask/dataframe/io/sql.py
  dask/dataframe/io/tests/test_demo.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_rolling.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tseries/tests/test_resample.py
  dask/tests/test_spark_compat.py
  docs/source/10-minutes-to-dask.rst
  docs/source/dataframe-indexing.rst
  pyproject.toml
Labels: dataframe, io, documentation

#10596 Use Python 3.11 for upstream and doctests CI build
  .github/workflows/additional.yml
  .github/workflows/upstream.yml
  continuous_integration/scripts/install.sh
  dask/dataframe/core.py
  dask/dataframe/io/sql.py
  dask/dataframe/multi.py
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_dataframe.py
  dask/sizeof.py
  dask/tests/test_docs.py
  docs/source/develop.rst
Labels: dataframe, io, documentation

#10579 Speed up ``normalize_chunks`` for common case
  dask/array/core.py
Labels: array

#10600 Avoid splitting parquet files to row groups as aggressively
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/utils.py
  docs/source/dataframe-parquet.rst
Labels: dataframe, io, documentation

#10544 Support for Python 3.12
  .github/workflows/additional.yml
  .github/workflows/tests.yml
  continuous_integration/environment-3.12.yaml
  dask/array/tests/test_array_core.py
  dask/dataframe/tests/test_multi.py
  pyproject.toml
Labels: dataframe, array

#10590 Use the inferred filesystem/region by default when ``filesystem='arrow'``
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, bug
