Repository dask/dask, pull requests merged in 2023-08, with the labels that each got.

#10435 Add ``distributed.print`` to debugging docs
  docs/source/how-to/debug.rst
Labels: documentation

#10441 Fix ValueError when running to_csv in append mode with single_file as True
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#10443 Enable file mode="x" with a single_file=True for dask dataframe to_csv
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#10404 Add ``_Frame.enforce_runtime_divisions`` method
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10425 Support multi-column ``groupby`` with ``sort=True`` and ``split_out>1``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, enhancement

#10462 Fix `_partitions` `dtype` in `meta`
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10477 Add ``p2p`` shuffle option to DataFrame docs
  dask/dataframe/core.py
Labels: dataframe

#10439 Update tests for ``pandas=2.1.0``
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_accessors.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/utils.py
  dask/tests/test_base.py
Labels: dataframe, upstream
