Repository dask/dask, pull requests merged in 2023-12, with the labels that each got.

#10662 Fix ``test_categorize_info`` with nightly ``pyarrow``
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10638 Make meta check simpler in dispatch
  dask/dataframe/dispatch.py
Labels: dataframe, dispatch

#10674 Update landing page
  docs/source/index.rst
Labels: documentation

#10660 Dask.order rewrite using a critical path approach
  dask/base.py
  dask/dataframe/tests/test_groupby.py
  dask/order.py
  dask/tests/test_local.py
  dask/tests/test_order.py
Labels: dataframe

#10680 Update deployment docs
  docs/source/adaptive.rst
  docs/source/conf.py
  docs/source/customize-initialization.rst
  docs/source/deploying-extra.rst
  docs/source/deploying.rst
  docs/source/prometheus.rst
  docs/source/software-environments.rst
Labels: documentation

#10679 Docs update
  docs/source/deploying.rst
  docs/source/faq.rst
  docs/source/index.rst
Labels: documentation

#10506 Bugfix for writing empty array to zarr
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array, needs attention

#10692 Avoid converting non-strings to arrow strings for read_parquet
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#10700 Fix software environment link in docs
  docs/source/deployment-considerations.rst
Labels: documentation

#10699 Update installation docs
  docs/source/install.rst
Labels: documentation

#10634 Implement dask-expr switch
  .github/workflows/tests.yml
  continuous_integration/environment-3.12.yaml
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/__init__.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_ufunc.py
Labels: dataframe

#10698 Infer dates and decimals in arrow as ArrowDtypes in pandas
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
  docs/source/changelog.rst
Labels: dataframe, io, documentation

#10705 Cast partitioning column to float for numerics to avoid loss of data in shuffle
  dask/dataframe/multi.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10704 Add changelog entry for ``dask-expr`` switch
  docs/source/changelog.rst
Labels: dataframe, documentation

#10691 Deprecate automatic argument inference in ``df.repartition``. Specify argument explicitly instead
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10701 Relax redundant-key check in ``_check_dsk``
  dask/array/tests/test_array_core.py
  dask/array/utils.py
Labels: array
