Repository dask/dask, pull requests merged in 2023-11, with the labels that each got.

#10621 Avoid warning for fragmented DataFrame
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10620 Refactor test_quantile
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10625 Fix sporadic failure of ``test_dataframe::test_quantile``
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10622 Add warning for ``pyarrow<14.0.1`` usage
  dask/dataframe/_pyarrow_compat.py
  pyproject.toml
Labels: dataframe

#10630 update changelog entry for in-memory rechunking
  docs/source/changelog.rst
  docs/source/images/changelog/2023110-rechunking-disk-perf.png
Labels: documentation

#10616 Add ``axis`` argument to ``DataFrame.clip`` and ``Series.clip``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, feature

#10556 Fix Precision Handling in `array.linalg.norm`
  dask/array/linalg.py
  dask/array/tests/test_linalg.py
Labels: array, needs attention

#10653 Add ``network`` marker to ``test_pyarrow_filesystem_option_real_data``
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, tests, parquet
