Repository dask/dask, pull requests merged in 2023-02, with the labels that each got.

#9905 Fix `GroupBy.value_counts` handling for multiple groupby columns
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9910 Use label for `upstream` build on pull requests
  .github/workflows/upstream.yml
Labels: upstream

#9909 Fix `DataFrame.info()` tests for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9908 Fix numeric `meta_nonempty` index creation for `pandas` 2.0
  dask/dataframe/backends.py
Labels: dataframe, dispatch

#9907 Avoid `pd.core` import in dask utils
  dask/dataframe/_compat.py
  dask/dataframe/accessor.py
  dask/dataframe/indexing.py
  dask/dataframe/tests/test_indexing.py
Labels: dataframe

#9887 Add note about `keep=False` in `drop_duplicates` docstring
  dask/dataframe/core.py
Labels: dataframe

#9916 Filter out All-NaN RuntimeWarning at the chunk level for `nanmin` and `nanmax`
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array

#9893 Fix some outdated information/typos in development guide
  docs/source/develop.rst
  docs/source/maintainers.rst
Labels: documentation

#9918 Replace `index.is_numeric` with `is_any_real_numeric_dtype` for `pandas` 2.0 compatibility
  dask/dataframe/_compat.py
  dask/dataframe/backends.py
  dask/dataframe/io/io.py
Labels: dataframe, io, upstream, dispatch

#9867 Support new `axis=None` behavior in `pandas` 2.0 for certain reductions
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe, upstream

#9919 Update `value_counts` to return correct name in `pandas` 2.0
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#9788 Fix `dask/dataframe/tests/test_utils_dataframe.py` tests for `pandas` 2.0
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe

#9868 Update `datetime_is_numeric` behavior in `describe` for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#9924 Make `repartition` a no-op when divisions match
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9854 Update `numeric_only` default in `quantile` for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#9937 Fix `test_numeric_column_names` for `pandas` 2.0
  dask/dataframe/core.py
Labels: dataframe

#9873 CI: use nightly wheel to install pyarrow in upstream test build
  continuous_integration/scripts/install.sh
  dask/tests/test_ci.py
Labels: upstream

#9889 Support `numeric_only` for simple groupby aggregations for `pandas` 2.0 compatibility
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#9933 Deployment Considerations documentation
  docs/source/deploying.rst
  docs/source/deployment-considerations.rst
  docs/source/how-to/manage-environments.rst
Labels: documentation

#9945 Config converter: replace all dashes with underscores
  docs/source/_static/config_converter.js
Labels: documentation

#9928 Fix an error with `groupby` `value_counts` for `pandas` 2.0 compatibility
  dask/dataframe/groupby.py
Labels: dataframe, upstream

#9932 Fix `test_to_timestamp` for `pandas` 2.0
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9940 Run GPU tests on python 3.8 & 3.10
  continuous_integration/gpuci/axis.yaml
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9956 Bump `black` to 23.1.0
  .pre-commit-config.yaml
  dask/array/backends.py
  dask/array/core.py
  dask/array/optimization.py
  dask/array/percentile.py
  dask/array/routines.py
  dask/array/slicing.py
  dask/array/stats.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_creation.py
  dask/array/tests/test_cupy_creation.py
  dask/array/tests/test_linalg.py
  dask/array/tests/test_masked.py
  dask/array/tests/test_optimization.py
  dask/array/tests/test_random.py
  dask/array/tests/test_rechunk.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_ufunc.py
  dask/blockwise.py
  dask/bytes/tests/test_local.py
  dask/bytes/tests/test_s3.py
  dask/dataframe/accessor.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/indexing.py
  dask/dataframe/io/csv.py
  dask/dataframe/io/hdf.py
  dask/dataframe/io/orc/arrow.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/io/tests/test_sql.py
  dask/dataframe/multi.py
  dask/dataframe/optimize.py
  dask/dataframe/rolling.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_reshape.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tests/test_ufunc.py
  dask/diagnostics/profile.py
  dask/layers.py
  dask/tests/test_config.py
  dask/tests/test_distributed.py
  dask/tests/test_layers.py
  dask/utils.py
Labels: dataframe, array, io, dispatch

#9948 Fix `test_rolling_agg_aggregate` for `pandas` 2.0 compatibility
  dask/dataframe/rolling.py
Labels: dataframe, upstream

#9930 Fix `test_merge_by_index_patterns` for `pandas` 2.0
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, upstream

#9959 Un-`xfail` `test_set_index_overlap_2` for `pandas` 2.0
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, upstream

#9963 Fix `test_groupby_unaligned_index` for `pandas` 2.0
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#9903 Update docs with more information on default Delayed scheduler
  docs/source/10-minutes-to-dask.rst
  docs/source/delayed.rst
Labels: documentation

#9955 Bump `pre-commit` versions
  .pre-commit-config.yaml
  dask/array/chunk.py
  dask/array/wrap.py
  dask/dataframe/groupby.py
  setup.cfg
Labels: dataframe, array

#9944 Fix copy on write failure in `test_idxmaxmin`
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9038 `Generator` based random-number generation in`dask.array`
  dask/array/backends.py
  dask/array/cupy_entry_point.py
  dask/array/random.py
  dask/array/tests/test_cupy_random.py
  dask/array/tests/test_random.py
  dask/base.py
  docs/source/array-api.rst
Labels: array, documentation, dispatch

#9926 Add option for converting string data to use `pyarrow` strings
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/_pyarrow.py
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/tests/test_pyarrow.py
Labels: dataframe, io, upstream

#8263 Add support for multi-column `sort_values`
  dask/dataframe/core.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, needs attention

#9977 Temporarily `xfail` `test_roundtrip_partitioned_pyarrow_dataset`
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, upstream

#9960 Fix `std` to work with `numeric_only` for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#9976 More docs for `DataFrame.partitions`
  dask/dataframe/core.py
  docs/source/dataframe-indexing.rst
Labels: dataframe, documentation

#9950 Increase minimum supported versions to `pandas=1.3` and `numpy=1.21`
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  continuous_integration/environment-mindeps-array.yaml
  continuous_integration/environment-mindeps-dataframe.yaml
  continuous_integration/environment-mindeps-distributed.yaml
  continuous_integration/environment-mindeps-non-optional.yaml
  continuous_integration/recipe/meta.yaml
  dask/array/core.py
  dask/array/creation.py
  dask/array/numpy_compat.py
  dask/array/overlap.py
  dask/array/routines.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_cupy_core.py
  dask/array/tests/test_cupy_creation.py
  dask/array/tests/test_cupy_linalg.py
  dask/array/tests/test_cupy_percentile.py
  dask/array/tests/test_cupy_reductions.py
  dask/array/tests/test_cupy_routines.py
  dask/array/tests/test_cupy_slicing.py
  dask/array/tests/test_overlap.py
  dask/base.py
  dask/dataframe/_compat.py
  dask/dataframe/_pyarrow.py
  dask/dataframe/_pyarrow_compat.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/indexing.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/io/tests/test_sql.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_indexing.py
  dask/dataframe/tests/test_pyarrow.py
  dask/dataframe/tests/test_pyarrow_compat.py
  dask/dataframe/tests/test_rolling.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tests/test_ufunc.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/tseries/tests/test_resample.py
  dask/dataframe/utils.py
  dask/sizeof.py
  dask/tests/test_sizeof.py
  docs/source/install.rst
  setup.py
Labels: dataframe, array, io, documentation

#9637 Change `split_row_groups` default to "infer"
  dask/dask.yaml
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
  docs/source/dataframe-parquet.rst
Labels: dataframe, io, documentation, parquet

#9982 Restore `describe` compatibility for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#9989 Relax dask.dataframe assert_eq type checks
  dask/dataframe/utils.py
Labels: dataframe

#9983 Temporarily rerun flaky tests
  dask/dataframe/tests/test_groupby.py
  dask/tests/test_distributed.py
Labels: dataframe

#9912 RFC - Improving deploying Dask docs
  docs/source/best-practices.rst
  docs/source/deploying-cloud.rst
  docs/source/deploying.rst
  docs/source/ecosystem.rst
  docs/source/faq.rst
Labels: documentation

#9900 Allow p2p shuffle kwarg for DataFrame merges
  dask/dataframe/multi.py
Labels: dataframe

#9739 Fix profilers plot not being aligned to context manager enter time
  dask/diagnostics/profile.py
  dask/diagnostics/profile_visualize.py
  dask/diagnostics/tests/test_profiler.py
Labels: needs attention

#9979 Efficient `dataframe.convert_string` support for `read_parquet`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, upstream

#9939 P2P rechunking
  dask/array/core.py
  dask/array/rechunk.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/groupby.py
Labels: dataframe, array

#9991 Enable P2P shuffling by default
  conftest.py
  dask/config.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/groupby.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
  dask/tests/test_config.py
  dask/utils.py
  docs/source/dataframe-groupby.rst
Labels: dataframe, documentation
