Repository dask/dask, pull requests merged in 2023-09, with the labels that each got.

#10488 Skip failing tests for ``pandas=2.1.0``
  dask/dataframe/_compat.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe, io

#10485 Stricter data type for dask keys
  dask/array/core.py
  dask/bag/core.py
  dask/base.py
  dask/blockwise.py
  dask/core.py
  dask/dataframe/core.py
  dask/delayed.py
  dask/graph_manipulation.py
  dask/highlevelgraph.py
  dask/layers.py
  dask/local.py
  dask/multiprocessing.py
  dask/optimization.py
  dask/tests/test_base.py
  dask/tests/test_core.py
  dask/tests/test_graph_manipulation.py
  dask/tests/test_typing.py
  dask/threaded.py
  dask/typing.py
  docs/source/custom-collections.rst
  docs/source/spec.rst
Labels: bag, dataframe, array, documentation, delayed

#10493 Fix `_partitions` `dtype` in `meta` for `DataFrame.set_index` and `DataFrame.sort_values`
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10495 Centralize and type ``no_default``
  dask/bag/core.py
  dask/config.py
  dask/core.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/reshape.py
  dask/dataframe/rolling.py
  dask/dataframe/utils.py
  dask/typing.py
Labels: dataframe

#10500 Add `**kwargs` support for `pyarrow_schema_dispatch`
  dask/dataframe/backends.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, dispatch

#10501 Make `preserve_index` explicit in `pyarrow_schema_dispatch`
  dask/dataframe/backends.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, dispatch

#10447 Remove unnecessary check in ``timeseries``
  dask/dataframe/io/demo.py
Labels: dataframe, io

#10514 Release 2023.9.2
  docs/source/changelog.rst
  pyproject.toml
Labels: documentation

#10009 Support complex moment
  dask/array/reductions.py
  dask/array/tests/test_reductions.py
Labels: array, needs attention, needs review

#10531 Match `pandas` reverting `apply` deprecation
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_merge_column_and_index.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe
