Repository dask/dask, pull requests merged in 2023-07, with the labels that each got.

#10393 Simplify ``astype`` implementation
  dask/dataframe/core.py
Labels: dataframe

#10313 Warn consistently for ``inplace`` in ``Series.rename``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10377 Add clarification about output shape and reshaping in rechunk documentation
  docs/source/array-chunks.rst
Labels: documentation, needs review

#10359 ``concat`` ignoring ``DataFrame`` withouth columns
  dask/dataframe/multi.py
  dask/dataframe/tests/test_multi.py
Labels: dataframe

#10353 Enable non-categorical hive-partition columns in `read_parquet`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#10395 Make ``repartition`` a no-op when list of divisions match
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10405 Fix FutureWarning: The provided callable...
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe, upstream

#10407 Category dtype is lost when concatenating `MultiIndex`
  dask/dataframe/groupby.py
Labels: dataframe, upstream

#10411 Use ``dataframe.convert-string`` in ``read_parquet`` token
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#10392 API to generate random Dask dataframes
  dask/dataframe/io/demo.py
  dask/dataframe/io/tests/test_demo.py
  docs/source/api.rst
Labels: dataframe, io, documentation

#10421 Avoid ``repartition`` before ``shuffle`` for ``p2p``
  dask/dataframe/shuffle.py
Labels: dataframe

#10400 Convert to ``pyarrow`` strings if proper dependencies are installed
  conftest.py
  dask/bytes/tests/test_http.py
  dask/bytes/tests/test_s3.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/_pyarrow.py
  dask/dataframe/core.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe, io

#10412 Fix a few errors with upstream pandas and pyarrow
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, io, upstream

#10424 Fix compatibility variable naming
  dask/array/tests/test_array_core.py
  dask/dataframe/_compat.py
  dask/dataframe/_dtypes.py
  dask/dataframe/_pyarrow.py
  dask/dataframe/_pyarrow_compat.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/io/json.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_demo.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_json.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/methods.py
  dask/dataframe/reshape.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_accessors.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_methods.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/tests/test_pyarrow.py
  dask/dataframe/tests/test_pyarrow_compat.py
  dask/dataframe/tests/test_reshape.py
  dask/dataframe/tests/test_rolling.py
  dask/dataframe/tests/test_shuffle.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/tseries/resample.py
  dask/dataframe/utils.py
  dask/tests/test_spark_compat.py
Labels: dataframe, array, io, hygiene

#10426 Simplify compatibility code
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10428 Fix for `make_timeseries` performance regression
  dask/dataframe/io/demo.py
Labels: dataframe, io
