Repository dask/dask, pull requests merged in 2023-04, with the labels that each got.

#10138 Fix documentation build with `pandas` 2.0
  docs/source/dataframe-api.rst
Labels: documentation

#10115 Preserve `dtype` for partitioning columns when read with `pyarrow`
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9947 Handle string-based engine argument to `read_json`
  dask/dataframe/io/json.py
  dask/dataframe/io/tests/test_json.py
Labels: dataframe, io

#10133 Deprecate `convert_dtype` in `Series.apply`
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10154 Updates for `Index` supporting `numpy` numeric dtypes
  dask/dataframe/backends.py
  dask/dataframe/groupby.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_utils_dataframe.py
Labels: dataframe, io, upstream, dispatch

#10162 Fix flaky `modf` operation in `test_arithmetic`
  dask/array/ufunc.py
Labels: array

#10134 Document `Generator` based random number generation
  dask/array/random.py
  docs/source/array-chunks.rst
  docs/source/array-creation.rst
  docs/source/array-gufunc.rst
  docs/source/array-random.rst
  docs/source/array-sparse.rst
  docs/source/array-stats.rst
  docs/source/array.rst
  docs/source/develop.rst
  docs/source/diagnostics-local.rst
  docs/source/futures.rst
  docs/source/graph_manipulation.rst
  docs/source/user-interfaces.rst
Labels: array, documentation

#10171 `GroupBy.cov` raising for non-numeric grouping column
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#10003 Switch to `Generator` for random number generation in `dask.array`
  dask/array/core.py
  dask/array/linalg.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_array_function.py
  dask/array/tests/test_atop.py
  dask/array/tests/test_cupy_core.py
  dask/array/tests/test_cupy_creation.py
  dask/array/tests/test_cupy_gufunc.py
  dask/array/tests/test_cupy_linalg.py
  dask/array/tests/test_cupy_percentile.py
  dask/array/tests/test_cupy_reductions.py
  dask/array/tests/test_cupy_routines.py
  dask/array/tests/test_cupy_sparse.py
  dask/array/tests/test_dispatch.py
  dask/array/tests/test_gufunc.py
  dask/array/tests/test_linalg.py
  dask/array/tests/test_masked.py
  dask/array/tests/test_overlap.py
  dask/array/tests/test_percentiles.py
  dask/array/tests/test_rechunk.py
  dask/array/tests/test_reductions.py
  dask/array/tests/test_routines.py
  dask/array/tests/test_slicing.py
Labels: array

#10173 Fix failing tests under copy-on-write
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, io

#10168 Handle pandas deprecation warnings for `to_pydatetime` and `apply`
  dask/dataframe/_compat.py
  dask/dataframe/accessor.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_accessors.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10191 Update `dataframe.convert_string` to `dataframe.convert-string`
  conftest.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/_pyarrow.py
  dask/dataframe/core.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/reshape.py
  dask/dataframe/utils.py
  docs/source/changelog.rst
Labels: dataframe, io, documentation, upstream

#10188 Adjust for deprecated ``is_interval_dtype`` and ``is_datetime64tz_dtype``
  dask/dataframe/backends.py
  dask/dataframe/partitionquantiles.py
Labels: dataframe, upstream, dispatch

#10180 Avoid deprecated `is_categorical_dtype` from `pandas`
  dask/dataframe/_compat.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/multi.py
  dask/dataframe/partitionquantiles.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe, upstream, dispatch

#10179 Adjust empty `Index` from `fastparquet` to `object` dtype
  dask/dataframe/_compat.py
  dask/dataframe/io/parquet/fastparquet.py
Labels: dataframe, io, upstream

#10169 Repartitioning raises with extension dtype when truncating floats
  dask/dataframe/partitionquantiles.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10170 Support arrow dtypes in `Index` meta creation
  dask/dataframe/_dtypes.py
  dask/dataframe/backends.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, dispatch

#10197 Remove ``is_period_dtype`` and ``is_sparse_dtype``
  dask/dataframe/backends.py
  dask/dataframe/tests/test_reshape.py
Labels: dataframe, upstream, dispatch

#10071 Add merge tests on nullable columns
  dask/dataframe/tests/test_multi.py
Labels: dataframe, upstream, dispatch

#10205 Avoid re-opening hdf file multiple times in `read_hdf`
  dask/dataframe/io/hdf.py
Labels: dataframe, io

#10156 Provide proper `like` value for `array_safe` in `percentiles_summary`
  dask/dataframe/partitionquantiles.py
Labels: dataframe

#10140 Unpin `sqlalchemy` and fix compatibility issues
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.11.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  continuous_integration/gpuci/build.sh
  dask/dataframe/io/sql.py
  dask/dataframe/io/tests/test_sql.py
  docs/source/install.rst
Labels: dataframe, io, documentation

#10189 Fix formatting in random number generation docs
  docs/source/array-random.rst
Labels: documentation

#10212 Avoid calling ``Series.apply`` with ``_meta_nonempty``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream, regression

#10185 Add documentation for `GroupBy.transform`
  docs/source/dataframe-api.rst
Labels: documentation

#10231 Add ``DataFrame.persist`` to docs and fix links
  dask/base.py
  docs/source/dataframe-api.rst
Labels: documentation

#10229 Add ``DataFrame.reduction`` to API docs
  docs/source/dataframe-api.rst
Labels: documentation

#10232 Update Kubernetes docs
  docs/source/deploying-cloud.rst
  docs/source/deploying-kubernetes-helm.rst
  docs/source/deploying-kubernetes-native.rst
  docs/source/deploying-kubernetes.rst
  docs/source/deploying.rst
Labels: documentation

#10222 Add support for ``numeric_only=True`` in ``GroupBy`` operations
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#10194 Implement ``numeric_only`` support for ``DataFrame.sum``
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#10228 Add helper to unpack ``numeric_only`` keyword
  dask/dataframe/groupby.py
  dask/dataframe/utils.py
Labels: dataframe

#10224 Add ``numeric_only=True`` support for ``GroupBy.cumsum`` and ``GroupBy.cumprod``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#10219 Add ``numeric_only`` support to ``min``, ``max`` and ``prod``
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#10236 Add ``numeric_only`` support to ``GroupBy.median``
  dask/dataframe/_compat.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe
