Repository dask/dask, pull requests merged in 2023-06, with the labels that each got.

#10320 Add missing 'not in' predicate support to `read_parquet`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet, bug

#10323 Fix for incorrect `value_counts`
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10332 Fix Hetzner typo in documentation
  docs/source/deploying.rst
Labels: documentation

#10336 Validate that rechunking is possible earlier in graph generation
  dask/array/rechunk.py
  dask/array/tests/test_rechunk.py
Labels: array

#10343 Add rechunk config values to yaml
  dask/array/core.py
  dask/array/rechunk.py
  dask/config.py
  dask/dask-schema.yaml
  dask/dask.yaml
Labels: array

#10309 Fix `H5FD_lock` error when writing to hdf with distributed client
  dask/dataframe/io/hdf.py
  dask/dataframe/io/utils.py
  dask/tests/test_distributed.py
  dask/utils.py
Labels: dataframe, io, needs review

#10346 Update nightly wheel index for pandas/numpy/scipy
  continuous_integration/scripts/install.sh
Labels: upstream

#10330 Restore ``numba`` in ``upstream`` build
  continuous_integration/scripts/install.sh
Labels: upstream

#10350 Respect ``dropna`` and ``observed`` in ``GroupBy.var`` and ``GroupBy.std``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10352 Deprecate ``DataFrame.first`` and ``Series.first``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10362 mypy support for numpy 1.25
  dask/array/routines.py
Labels: array

#10363 Remove unnecessary try-except in ``isna``
  dask/dataframe/core.py
Labels: dataframe

#10355 Fix issue with ``header`` passed to ``read_csv``
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io

#10342 Support ``DataFrame.set_index(..., sort=False)``
  dask/dataframe/core.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#10367 Fix annotations and spans leaking between threads
  dask/__init__.py
  dask/base.py
  dask/dataframe/io/parquet/core.py
  dask/highlevelgraph.py
  dask/tests/test_highgraph.py
  docs/source/api.rst
Labels: dataframe, io, documentation

#10349 Deprecate `DataFrame.fillna`/`Series.fillna` with `method`
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/methods.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10370 Remove deprecated `numpy.compat`
  dask/array/einsumfuncs.py
Labels: array, upstream, needs review

#10371 Remove no longer supported ``clip_lower`` and ``clip_upper``
  dask/dataframe/core.py
  docs/source/dataframe-api.rst
Labels: dataframe, documentation

#10382 Do not derive from ``scipy.stats.chisquare`` docstring
  dask/array/stats.py
Labels: array

#10391 Add ``level`` to ``create_merge_tree``
  dask/dataframe/partitionquantiles.py
Labels: dataframe

#10373 Fix ``test_first_and_last`` to accommodate deprecated ``last``
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream
