Repository dask/dask, pull requests merged in 2023-01, with the labels that each got.

#9760 Implement ma.where and ma.nonzero
  dask/array/ma.py
  dask/array/tests/test_masked.py
  docs/source/array-api.rst
Labels: array, documentation

#9796 Remove duplicated `encoding` kwarg in docstring for `to_json`
  dask/dataframe/io/json.py
Labels: dataframe, io

#9828 Temporarily ignore `RuntimeWarning` in `test_setitem_extended_API_2d_mask`
  dask/array/tests/test_array_core.py
Labels: array

#9839 Add docs section about `no-worker` tasks
  docs/source/dashboard.rst
Labels: documentation

#9843 Ignore warnings on `persist` call in `test_setitem_extended_API_2d_mask`
  dask/array/tests/test_array_core.py
Labels: array

#9838 Remove `kwargs` from `make_blockwise_graph`
  dask/array/tests/test_array_core.py
  dask/blockwise.py
Labels: array

#9772 Fix `pyarrow` parquet columns statistics computation
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9783 `infer_datetime_format` compatibility for `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9811 Un-`xfail` `datetime64` Parquet roundtripping tests for new `fastparquet`
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#9768 Update dashboard documentation for memory plot, fix #9433
  docs/source/dashboard.rst
  docs/source/images/dashboard_memory_new.gif
Labels: documentation

#9826 Dont require dask config shuffle default
  dask/bag/core.py
  dask/dataframe/groupby.py
  dask/dataframe/shuffle.py
  dask/utils.py
Labels: dataframe

#9864 Fix code formatting issue in "Defining a new collection backend" docs
  docs/source/how-to/selecting-the-collection-backend.rst
Labels: documentation

#9863 Fix "duplicate explicit target name" docs warning
  docs/source/support.rst
Labels: documentation

#9855 Fixes related to `group_keys` default change in `pandas` 2.0
  dask/dataframe/core.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#9787 Add `numeric_only` to `DataFrame.cov` and `DataFrame.corr`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9872 Small fix for timestamp index divisions in `pandas` 2.0
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe

#9871 Fix serialization bug in `BroadcastJoinLayer`
  dask/layers.py
  dask/tests/test_distributed.py
Labels: highlevelgraph, bug

#9890 Additional updates for detecting a `distributed` scheduler
  dask/array/core.py
  dask/dataframe/io/hdf.py
  dask/tests/test_distributed.py
Labels: dataframe, array, io

#9892 Remove unused `skiprows` variable in `read_csv`
  dask/dataframe/io/csv.py
Labels: dataframe, io

#9906 Clarify task stream showing more rows than threads
  docs/source/dashboard.rst
Labels: documentation
