Repository dask/dask, pull requests merged in 2023-05, with the labels that each got.

#10227 Support ``numeric_only=True`` in ``GroupBy.corr`` and ``GroupBy.cov``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe

#10244 Un-``xfail`` ``test_categories`` with ``pyarrow`` strings and ``pyarrow>=12``
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, upstream

#10243 Fix ``test_groupby_numeric_only_supported`` and ``test_groupby_aggregate_categorical_observed`` upstream errors
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#9756 Fix ``corr`` and ``cov`` on a single-row partition
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, needs attention

#10184 Make sure transform output has the same index as input
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, documentation

#10163 Disallow array input in mask/where
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, array, io, documentation

#10234 Enable ``numeric_only=False`` for ``DataFrame.count``
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#10252 Remove unused ``DataFrame`` variance methods
  dask/dataframe/core.py
Labels: dataframe

#10245 Adjust for ``DataFrame.applymap`` deprecation and all ``NA`` ``concat`` behaviour change
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10246 Add ``DataFrame.map`` to ``dask.DataFrame`` API
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10263 Add `Index` API reference
  docs/source/dataframe-api.rst
Labels: documentation

#10257 Add ``numeric_only`` support to ``DataFrame.mode``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10150 Fix dataframe reductions for ea dtypes
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#10256 Raise ``FutureWarning`` when passed ``meta`` results in a ``DataFrame`` in ``Series.apply``
  dask/dataframe/core.py
Labels: dataframe, upstream

#10250 Add support for ``numeric_only=False`` in ``DataFrame.var``
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, array, documentation

#10266 Clean up futures docs
  docs/source/futures.rst
Labels: documentation

#10264 Implement ``numeric_only=False`` for ``GroupBy.corr`` and ``GroupBy.cov``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10211 Fix `clone` + `from_array` failure
  dask/array/blockwise.py
  dask/blockwise.py
  dask/tests/test_graph_manipulation.py
Labels: array

#10288 Add docs for demo day
  docs/source/support.rst
Labels: documentation

#10280 Fix dtype inference for ``engine="pyarrow"`` in ``read_csv``
  dask/dataframe/io/csv.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io, upstream

#10289 `mask` and `where` should accept a `callable`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10281 `da.coarsen` doesn't trim an empty chunk in meta
  dask/array/routines.py
  dask/array/tests/test_chunk.py
Labels: array

#10258 Implement ``numeric_only`` for ``skew`` and ``kurtosis``
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe, upstream

#10262 Implement ``numeric_only=False`` for ``GroupBy.cumprod`` and ``GroupBy.cumsum``
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10251 Add support for ``numeric_only=False`` in ``DataFrame.std``
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe, upstream

#10247 Fix regression in `da.random` interface
  dask/array/random.py
  dask/array/tests/test_cupy_random.py
  dask/array/tests/test_random.py
  docs/source/array-api.rst
  docs/source/array-random.rst
Labels: array, documentation

#10259 Implement ``numeric_only`` support for ``DataFrame.quantile``
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10261 Support duplicated columns in a bunch of ``DataFrame`` methods
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10296 Update Coiled links
  docs/source/best-practices.rst
  docs/source/changelog.rst
  docs/source/deploying-cloud.rst
  docs/source/deploying.rst
  docs/source/deployment-considerations.rst
  docs/source/ecosystem.rst
  docs/source/faq.rst
  docs/source/support.rst
Labels: documentation

#10299 Clean up default value of ``dropna`` in ``value_counts``
  dask/dataframe/core.py
Labels: dataframe

#10223 Add test to check that ``DataFrame.__setitem__`` does not modify ``df`` inplace
  dask/dataframe/tests/test_methods.py
Labels: dataframe

#10149 pandas ``ExtensionDtype`` raising in ``Series`` reduction operations
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/tests/test_arithmetics_reduction.py
Labels: dataframe

#10304 Fix ``divisions`` construction for ``to_timestamp``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10305 Add ``na_action`` to ``DataFrame.map``
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, upstream

#10307 Ignore ``numpy.find_common_type`` warning from ``pandas``
  pyproject.toml
Labels: upstream

#10308 Avoid ``pandas`` ``Series.__getitem__`` deprecation in tests
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, io, upstream

#9881 Generalize ``dd.to_datetime`` for GPU-backed collections, introduce ``get_meta_library`` utility
  dask/dataframe/core.py
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_dataframe.py
  dask/tests/test_utils.py
  dask/utils.py
Labels: dataframe

#10300 Enable `drop` to support mismatched partitions
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10295 Drop Python 3.8 support
  .github/workflows/additional.yml
  .github/workflows/conda.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-mindeps-array.yaml
  continuous_integration/environment-mindeps-dataframe.yaml
  continuous_integration/environment-mindeps-distributed.yaml
  continuous_integration/environment-mindeps-non-optional.yaml
  continuous_integration/environment-mindeps-optional.yaml
  continuous_integration/recipe/meta.yaml
  dask/_version.py
  dask/array/optimization.py
  dask/array/random.py
  dask/backends.py
  dask/base.py
  dask/dataframe/backends.py
  dask/dataframe/core.py
  dask/dataframe/io/io.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
  docs/README.rst
  docs/source/develop.rst
  docs/source/install.rst
  docs/source/scheduling.rst
  pyproject.toml
Labels: dataframe, array, io, documentation, dispatch

#10157 Fix rechunking behavior for dimensions with known and unknown chunk sizes
  dask/array/rechunk.py
  dask/array/tests/test_rechunk.py
Labels: array

#10319 Update empty ``describe`` top and freq values
  dask/dataframe/methods.py
Labels: dataframe

#10311 Remove ``numpy.find_common_type`` warning ignore
  pyproject.toml
Labels: upstream
