Repository dask/dask, pull requests merged in 2023-03, with the labels that each got.

#10008 Minor follow-up to P2P by default
  dask/dataframe/groupby.py
  docs/source/dataframe-groupby.rst
Labels: dataframe, documentation

#10011 Fix `test_pickle_roundtrip` for `pandas` 2.0
  dask/dataframe/tests/test_pyarrow_compat.py
Labels: dataframe, upstream

#10001 Fix `test_groupby_dropna_with_agg` for `pandas` 2.0
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#9987 Remove `randomgen` from docs and tests
  dask/array/random.py
  dask/array/tests/test_random.py
Labels: array

#10022 Add and update docs for Data Transfer section
  docs/source/dashboard.rst
  docs/source/images/dashboard_task_processing.png
Labels: documentation

#10002 Fix parquet overwrite behavior after an adaptive `read_parquet` operation
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#10018 Add initial support for converting pandas extension dtypes to arrays
  dask/dataframe/core.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#9653 Consider `numpy` scalars and 0d arrays as scalars when padding
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#9885 Custom utility to convert parquet filters to pyarrow expression
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/parquet/fastparquet.py
  dask/dataframe/io/parquet/utils.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, parquet

#10013 Rename shuffle/rechunk config option/kwarg to `method`
  conftest.py
  dask/array/core.py
  dask/array/rechunk.py
  dask/config.py
  dask/dask-schema.yaml
  dask/dask.yaml
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_shuffle.py
  dask/utils.py
  docs/source/dataframe-groupby.rst
Labels: dataframe, array, documentation

#10033 Raise an error with `dataframe.convert_string=True` and `pandas<2.0`
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, upstream

#10027 Skip rechunk when rechunking to the same chunks with unknown sizes
  dask/array/core.py
  dask/array/rechunk.py
  dask/array/tests/test_array_core.py
  dask/array/tests/test_rechunk.py
Labels: array

#10024 Increase minimum supported `pyarrow` to 7.0
  continuous_integration/environment-3.10.yaml
  continuous_integration/environment-3.11.yaml
  continuous_integration/environment-3.8.yaml
  continuous_integration/environment-3.9.yaml
  dask/bytes/tests/test_s3.py
  dask/dataframe/io/orc/core.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_orc.py
  dask/dataframe/io/tests/test_parquet.py
  docs/source/install.rst
Labels: dataframe, io, documentation

#10030 Fix flaky `RuntimeWarning` during array reductions
  dask/array/reductions.py
Labels: array

#10039 Remove stale hive-partitioning code from pyarrow parquet engine
  dask/dataframe/io/parquet/arrow.py
Labels: dataframe, io, parquet, hygiene

#10040 Support pyarrow strings in `MultiIndex`
  dask/array/numpy_compat.py
  dask/dataframe/_pyarrow.py
  dask/dataframe/io/tests/test_parquet.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_groupby.py
  dask/dataframe/tests/test_pyarrow.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe, array, io

#10050 Fix `test_values` with `pyarrow` strings active
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10051 Fix `test_better_errors_object_reductions` with `pyarrow` strings active
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe

#10048 Fix `test_str_accessor` with `pyarrow` strings active
  dask/dataframe/tests/test_accessors.py
Labels: dataframe

#10052 Fix `test_melt` with `pyarrow` strings active
  dask/dataframe/reshape.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/utils.py
Labels: dataframe

#9981 Port option parsing logic from `dask.dataframe.read_parquet` to `to_parquet`
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#10063 Temporarily skip `pyarrow_compat` tests with `pandas` 2.0
  dask/dataframe/tests/test_pyarrow_compat.py
Labels: dataframe

#10065 Remove broken gpuCI link in developer docs
  docs/source/develop.rst
Labels: documentation

#10064 Support unknown shapes in `*_like` functions
  dask/array/creation.py
  dask/array/tests/test_creation.py
Labels: array

#10066 Un-`xfail` more `pyarrow` tests
  dask/dataframe/io/tests/test_hdf.py
  dask/dataframe/io/tests/test_io.py
  dask/dataframe/io/tests/test_sql.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tests/test_format.py
  dask/dataframe/tests/test_multi.py
  dask/dataframe/utils.py
  dask/tests/test_spark_compat.py
Labels: dataframe, io

#10081 `DataFrame._data` deprecation in `pandas`
  dask/base.py
Labels: upstream

#10054 Fix `test_set_index_on_empty` with `pyarrow` strings active
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_shuffle.py
Labels: dataframe, upstream

#10093 Add `to_backend` methods to API docs
  docs/source/array-api.rst
  docs/source/dataframe-api.rst
Labels: documentation

#10103 Fix docs builds by installing `ipykernel`
  docs/requirements-docs.txt
Labels: documentation

#10087 Un-`xfail` `test_to_dataframe_optimize_graph` with `pyarrow` strings active
  dask/bag/tests/test_bag.py
Labels: upstream

#10109 Un-`xfail` `test_different_columns_are_allowed` with `pyarrow` strings active
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_csv.py
Labels: dataframe, io, upstream

#10110 The `axis` keyword in `DataFrame.rolling/Series.rolling` is deprecated
  dask/dataframe/_compat.py
  dask/dataframe/core.py
  dask/dataframe/rolling.py
  dask/dataframe/tests/test_rolling.py
Labels: dataframe, upstream

#10007 Enable null hive partitions with pyarrow parquet engine
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/parquet/core.py
  dask/dataframe/io/tests/test_parquet.py
  dask/tests/test_distributed.py
Labels: dataframe, io, parquet, enhancement

#10094 Deprecate `axis=` for some groupby operations
  dask/dataframe/_compat.py
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10095 Deprecate `observed=False` for `groupby` with categoricals
  dask/dataframe/_compat.py
  dask/dataframe/groupby.py
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/methods.py
  dask/dataframe/tests/test_categorical.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, io, upstream

#10104 Configure readthedocs sphinx warnings as errors
  .readthedocs.yaml
  docs/source/changelog.rst
Labels: documentation

#10043 Avoid using `dd.shuffle` in groupby-apply
  dask/dataframe/groupby.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, bug, gpu

#10114 Make `dask.compatibility` private
  dask/_compatibility.py
  dask/base.py
  dask/compatibility.py
  dask/dataframe/io/tests/test_hdf.py
  dask/tests/test_base.py
  dask/tests/test_compatibility.py
Labels: dataframe, io

#10116 Fix `test_null_partition_pyarrow` in `pyarrow` CI build
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io

#10120 Maintain annotations in `DataFrame.categorize`
  dask/dataframe/categorical.py
Labels: dataframe

#10111 Avoid deprecated `GroupBy.dtypes`
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10125 Relax `assert_eq` checks on `Scalar`-like objects
  dask/dataframe/utils.py
Labels: dataframe

#10102 Use declarative setuptools
  .coveragerc
  .flake8
  .pre-commit-config.yaml
  continuous_integration/gpuci/build.sh
  continuous_integration/recipe/meta.yaml
  dask/_version.py
  docs/release-procedure.md
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Labels: documentation

#10126 Fix `valid_divisions` when passed a `tuple`
  dask/dataframe/tests/test_utils_dataframe.py
  dask/dataframe/utils.py
Labels: dataframe

#10128 Handle `None` column name when checking if columns are all numeric
  dask/dataframe/groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: dataframe, upstream

#10123 Maintain annotations in `DataFrame.to_hdf`
  dask/dataframe/io/hdf.py
Labels: dataframe, io
