Repository dask/dask, pull requests merged in 2024-08, with the labels that each got.

#11304 Fix upstream numpy build
  dask/array/numpy_compat.py
  dask/array/tests/test_creation.py
Labels: upstream

#11309 Upgrade gpuCI and fix Dask Array failures with "cupy" backend
  continuous_integration/gpuci/axis.yaml
  dask/array/slicing.py
  dask/dataframe/tests/test_dataframe.py
Labels: array, bug, gpu

#10665 Fix `dask.array.fft` mismatch with Numpy's interface (add support for `norm` argument)
  dask/array/fft.py
  dask/array/tests/test_fft.py
Labels: array
