Repository dask/dask, pull requests merged in 2024-04, with the labels that each got.

#11035 Fix ``dask.dataframe`` import error for Python 3.11.9
  dask/dataframe/accessor.py
Labels: bug

#11039 Make python 3.11.9 fix a bit safer
  dask/dataframe/accessor.py
Labels: dataframe

#11040 Add lazy "cudf" registration for p2p-related dispatch functions
  dask/dataframe/backends.py
Labels: bug

#11025 Use ``to/from_legacy_dataframe`` instead of ``to/from_dask_dataframe``
  dask/bag/core.py
  dask/dataframe/__init__.py
  docs/source/dataframe-api.rst
Labels: dataframe, dask-expr

#9627 Assignment of np.ma.masked to obect-type Array
  dask/array/core.py
  dask/array/tests/test_array_core.py
Labels: array
