Repository dask/dask, pull requests merged in 2024-05, with the labels that each got.

#11088 Add ``melt`` support when query-planning is enabled
  dask/dataframe/__init__.py
  dask/dataframe/tests/test_multi.py
  docs/source/dataframe-api.rst
Labels: dask-expr

#11086 Add dask-expr to upstream build
  continuous_integration/scripts/install.sh
Labels: upstream

#11094 Clean up ``percentiles_summary`` logic
  dask/dataframe/partitionquantiles.py
Labels: dataframe, enhancement

#11106 ``meshgrid`` and ``atleast_*d`` NumPy 2 updates
  dask/array/creation.py
  dask/array/routines.py
  dask/array/tests/test_creation.py
Labels: upstream

#11110 Avoid ``pytest`` error when skipping NumPy 2.0 tests
  dask/bytes/tests/test_s3.py
Labels: upstream

#10422 Allow non-memory ``zarr`` stores in ``to_zarr`` with ``distributed``
  dask/array/core.py
  dask/tests/test_distributed.py
Labels: array, needs attention

#11121 Make sure nightly ``pyarrow`` is installed in upstream CI build
  continuous_integration/scripts/install.sh
Labels: upstream

#11144 Update ``test_groupby_grouper_dispatch``
  dask/dataframe/tests/test_groupby.py
Labels: bug

#11151 Fix nightly Zarr installation in CI
  continuous_integration/scripts/install.sh
Labels: upstream
