Repository dask/dask, pull requests merged in 2024-01, with the labels that each got.

#10676 Make dask.array.utils functions more generic to other Dask Arrays
  dask/array/utils.py
  dask/base.py
  dask/tests/test_base.py
Labels: array

#10754 Deprecate `Series.view`
  dask/dataframe/core.py
  dask/dataframe/tests/test_dataframe.py
Labels: dataframe, deprecation

#10789 Address pandas deprecations
  dask/array/percentile.py
  dask/dataframe/core.py
  dask/dataframe/io/tests/test_csv.py
  dask/dataframe/tests/test_dataframe.py
  dask/dataframe/tseries/tests/test_resample.py
Labels: dataframe, upstream

#10800 Deprecate out= and dtype= parameter in most dataframe methods
  dask/dataframe/core.py
  dask/dataframe/groupby.py
  dask/dataframe/shuffle.py
  dask/dataframe/tests/test_arithmetics_reduction.py
  dask/dataframe/tests/test_dataframe.py
  dask/utils.py
Labels: dataframe, deprecation

#10806 Upstream CI tweaks
  .github/workflows/upstream.yml
  .gitignore
  continuous_integration/scripts/install.sh
  dask/tests/test_ci.py
Labels: upstream

#10819 np.unique(): inverse is shaped in numpy 2
  dask/array/routines.py
  dask/array/tests/test_routines.py
Labels: upstream

#10821 numpy 2: deprecations in n-dimensional fft functions
  dask/array/fft.py
  dask/array/tests/test_fft.py
Labels: upstream

#10834 freq="w" and "d" are deprecated in pandas 2.2
  dask/dataframe/tseries/tests/test_resample.py
Labels: upstream

#10837 numpy 2: fix std() on MaskedArray
  dask/array/reductions.py
  dask/array/tests/test_masked.py
Labels: upstream

#10854 numpy 2.0: fix slicing by uint64 array
  dask/array/slicing.py
  dask/array/tests/test_array_core.py
Labels: upstream

#10850 Fix test for sizeof(pd.MultiIndex) in upstream CI
  dask/sizeof.py
  dask/tests/test_sizeof.py
Labels: upstream

#10851 Update parquet tests to align with dask-expr fixes
  dask/dataframe/io/tests/test_parquet.py
Labels: tests, parquet
