Repository dask/dask, pull requests merged in 2025-01, with the labels that each got.

#11421 Add cupy support for indexed assignment
  dask/array/slicing.py
  dask/array/tests/test_cupy_slicing.py
Labels: array, bug

#11656 Fix projection when columns are numpy scalars
  dask/dataframe/dask_expr/_collection.py
  dask/dataframe/dask_expr/_indexing.py
  dask/dataframe/dask_expr/io/tests/test_io.py
  dask/dataframe/dask_expr/tests/test_groupby.py
  dask/dataframe/tests/test_groupby.py
Labels: bug

#11660 Rename remote store to FsspecStore
  dask/array/core.py
Labels: upstream

#11665 Fix filtering on parquet file containing a struct column
  dask/dataframe/io/parquet/arrow.py
  dask/dataframe/io/tests/test_parquet.py
Labels: dataframe, io, bug

#11667 Revert "Revert "Add ``scikit-image`` nightly back to upstream CI""
  continuous_integration/scripts/install.sh
Labels: upstream
